.content.about
   .row
      .col.col--push-2-of-12.col--8-of-12
         h1.center-text.pull-up About Aurora
         p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         
         .row
            .col.col--2-of-4
               ul
                  li Hoy
                  li Hoy
                  li Hoy
            .col.col--2-of-4
               ul
                  li Hoy2
                  li Hoy2
                  li Hoy2
         
         .maps
            br
            h2.pull-up Where to find us?
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7788.730942047321!2d10.6804223!3d60.7882972!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x15d7b34504988672!2sNorwegian+University+of+Science+and+Technology+(NTNU)!5e0!3m2!1sen!2sno!4v1463234388164" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen)
