.content   
   .row
      .col.col--push-2-of-12.col--8-of-12
         h1.center-text.pull-up 404 - Page not found
         br
         center
            img.round-center(src='../img/vader.jpg' width='50%')
         p.center-text
            a(href='javascript:window.history.go(-1)').hyperlink Abort before Vader chokes you!
         
   
include ../includes/partialscript.jade
