.content   
   h1 Welcome, guest!
   p Aurora is a interactive multimedia presenter to distribute educational content to distant learners. 
   p As a non-registered user you can navigate the site and browse for lectures and see the description of the lectures. To view a lecture you must sign up and subscribe to the lecture.
   p As a registered user you get your own profile, and can subscribe to subjects and watch lectures. You can also comment and rate the videos. 
   
include ../includes/partialscript.jade
