.content
   .row
      .col.col--push-2-of-12.col--8-of-12
         h1.pull-up.center-text Frequently Asked Questions
         
         h3 What is Aurora?
         p Aurora is a interactive multimedia presenter to distribute educational content to distant learners.
         
         h3 What do we teach here?
         p We have a diverse selcetion of topics ranging from coding to design. The common trait among what we teach is that it's all about the digital age.
         
         h3 Can i use the page without a profile?
         p You can browse the page, which includes seeing what subjects we offer and descriptions of the lectures, but you are not able to view the lectures.
         
         h3 How do I watch a lecture?
         p Under the 'subjects' tab, you have to subscribe to the subject you're interested in to whatch its contents. 
         
         h3 Why is my comment gone?
         p If you leave comments that do not comply with our user etiquette, an admin can remove your comment.
            br
            | Read more about our user etiquette 
            a.hyperlink here
         
         h3 Why don't the page refresh when i browse it?
         p It's magic.
