.content   
   .row
      .col.col--push-2-of-12.col--8-of-12
         h1.center-text.pull-up Welcome, guest!
         p Aurora is a interactive multimedia presenter to distribute educational content to distant learners. 
         p As a non-registered user you can navigate the site and browse for lectures and see the description of the lectures. To view a lecture you must sign up and subscribe to the subject.
         p As a registered user you get your own profile, and can subscribe to subjects and watch lectures. You can also comment and rate the videos. 
         p   
            strong Register 
               a.hyperlink(href='rofelmao') here
   
include ../includes/partialscript.jade
