.content.lectures-student
   .row
      .col.col--4-of-5
            h2.lecture-time.top-space-fix Today
            
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4
<<<<<<< HEAD
               .row
                  h3 IMT1231 Subject title  -  Lecture title
               .row
                  p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
=======
               h3 IMT1231 Subject title  -  Lecture title
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
<<<<<<< HEAD
            
=======
>>>>>>> origin/master
         .row
>>>>>>> 67756ad4866ce192d5286c2a533bd83e136855eb
            h2.lecture-time 1 week old
            
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
<<<<<<< HEAD
               h3 Lecture title
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description 
                    
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
=======
<<<<<<< HEAD
               .row
                  h3 Lecture title
=======
               
               h3 Lecture title
>>>>>>> origin/master
                  
               
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description

         .row
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
<<<<<<< HEAD
               .row
                  h3 Lecture title
               .row
                  p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
=======
               
>>>>>>> 67756ad4866ce192d5286c2a533bd83e136855eb
               h3 Lecture title
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
<<<<<<< HEAD
               
=======
>>>>>>> origin/master
         .row
>>>>>>> 67756ad4866ce192d5286c2a533bd83e136855eb
            h2.lecture-time One month old
            
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
<<<<<<< HEAD
=======
<<<<<<< HEAD
               .row
                  h3 Lecture title
               .row
                  p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
         .row
            br
=======
               
>>>>>>> 67756ad4866ce192d5286c2a533bd83e136855eb
               h3 Lecture title
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
<<<<<<< HEAD
         
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4
               h3 Lecture title
=======

>>>>>>> origin/master
         .row
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
<<<<<<< HEAD
               .row
                  h3 Lecture title
=======
               
               h3 Lecture title
>>>>>>> origin/master
                  
               
>>>>>>> 67756ad4866ce192d5286c2a533bd83e136855eb
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
         
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
               h3 Lecture title
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description

      .col.col--1-of-5
         .row
            .profile-wrapper
               img.avatar(src='img/lectures/student.jpg')
               
               .profile-list
                  h3 Aslak Ihle
                  h3 Studnr: 470587   
               
               a.profile-btn(href='') My profile
               
               .notification-wrap   
                  h3 Notifications 
                  p.notification-txt.part-txt 
                     | Teacher Tom has a uploaded a new lecture in
                     span.full-txt
                        |  the subject IMT2002 Digital imagereproduction and color management. 
                        a.read-less 
                           span.read-fix 
                              br
                              | Hide
                     a.read-more
                        |... 
                        span.read-fix 
                           br
                           | Show more
                        
                    
                  a.older-notifications(href='#main-student') 
                     p.secondary View older Notifications

include ../includes/partialscript.jade
            
script.
      
<<<<<<< HEAD
=======
   $(document).ready(function(){
      $('.read-more').click(function(){
         $('.full-txt').toggle();
         $('.read-more').toggle();
      });
   })
   
>>>>>>> origin/master
   $(document).ready(function(){
      $('.read-less').click(function(){
         $('.full-txt').toggle();
         $('.read-more').toggle();
      });
   })
                  
