.content.lectures-student
   .row
      .col.col--4-of-5.col--m-4-of-4
            .lecture-time.top-space-fix
               h2 Last 24 Hours
            
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4
               h3 IMT1292 Webcoding  -  3rd introductury lecture to html/css
               p In this lecture we go through four main topics. Entities, lists, images and namegiving.
               img.profile-img(src="../img/profile_images/teacher2.png")
               .author 
                  p
                     | Henriette Jacobsen
                     span (gunnar.olsen@aurora.no) 
            
            .lecture-time
               h2 Last week
            
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
               h3 Lecture title
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description 
               img.profile-img(src="../img/profile_images/teacher2.png")
               .author 
                  p
                     | Torgeir
                     span (gunnar.olsen@aurora.no) 
                    
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4             
               h3 Lecture title
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
               img.profile-img(src="../img/profile_images/teacher2.png")
               .author 
                  p
                     | Henriette Jacobsen
                     span (gunnar.olsen@aurora.no) 

            .lecture-time 
               h2 Last month
            
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
               h3 Lecture title
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
               img.profile-img(src="../img/profile_images/teacher2.png")
               .author 
                  p
                     | Henriette Jacobsen
                     span (gunnar.olsen@aurora.no) 
               
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
               h3 Lecture title
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
               img.profile-img(src="../img/profile_images/teacher2.png")
               .author 
                  p
                     | Henriette Jacobsen
                     span (henriette.Jacobsen@aurora.no) 
         
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
               h3 Lecture title
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
               img.profile-img(src="../img/profile_images/teacher1.png")
               .author 
                  p
                     | Torgeir Hansen
                     span (gunnar.olsen@aurora.no) 
      .col.col--1-of-5
         include ../includes/profile.jade
         
include ../includes/partialscript.jade
