.content.lectures-student
   .row
      .col.col--4-of-5.col--m-4-of-4.hue2
            .lecture-time.top-space-fix
               h2 Your lectures
            
            .img-wrap.col.col--1-of-4
               img.lecture-img(src='img/slides/Lecture3-1.010.jpeg')
            .txt-wrap.col.col--3-of-4.col--m-2-of-2
               h3 IMT1292 Web Coding:  3rd Introductury Lecture to HTML
               p.date-space-fix In this lecture we go through four main topics. Entities, lists, images and namegiving. If you have not seen the previous lectures on this, I would recommend you watching those before this one, since this one builds on what we learned from them.
               p 19.05.2016
               .comment-wrap-teacher
                  img.comment-icon(src="../img/iconography/ic_comment_green_24px.svg")
                  .comment-txt
                     a(href='') Comments (2)
                  
                      
            
         
            .img-wrap.col.col--1-of-4
               img.lecture-img(src='img/lecture_images/webcoding_lecture2.png')
            .txt-wrap.col.col--3-of-4 
               h3 IMT1292 Web Coding: 1st Introductory Lecture to CSS
               p.date-space-fix In this lecture we go through the first basics of CSS and how it connects to the HTML we've already learned. If you havent seen the previous HTML lectures, or know about HTML from before, I would recommend going back and watching from the start of this subject.
               p 12.05.2016
               .comment-wrap-teacher
                  img.comment-icon(src="../img/iconography/ic_comment_green_24px.svg")
                  .comment-txt
                     a(href='') Comments (3)
               

            .img-wrap.col.col--1-of-4
               img.lecture-img(src='img/lecture_images/webcoding_lecture4.png')
            .txt-wrap.col.col--3-of-4 
               h3 IMT1292 Web Coding: 2nd Introductory Lecture to HTML
               p.date-space-fix In this lecture we continue on the intro to HTML. If you are new to HTML and havent watched the last lecture, I would recommend watching the first lecture in this subject first.
               p 05.05.2016
               .comment-wrap-teacher
                  img.comment-icon(src="../img/iconography/ic_comment_green_24px.svg")
                  .comment-txt
                     a(href='') Comments (2)
                    
                     
            .img-wrap.col.col--1-of-4
               img.lecture-img(src='img/lecture_images/webcoding_lecture3.png')
            .txt-wrap.col.col--3-of-4 
               h3 IMT1292 Web Coding: 1st Introductory Lecture to HTML
               p.date-space-fix In this lecture we go through the first basics of HTML. This will be completely from scratch so if you are new to HTML and don't know anything, this is the lecture for you.
               p 28.04.2016
               .comment-wrap-teacher
                  img.comment-icon(src="../img/iconography/ic_comment_green_24px.svg")
                  .comment-txt
                     a(href='') Comments (5)
                              
      
            
      .hue.col.col--1-of-5
         include ../includes/profile-sidebar-teacher.jade
         
include ../includes/partialscript.jade
