
<div class="lectures-student">
  <script>
    $(document).ready(function(){
    $('.read-more').click(function(){
    $('.full-txt').toggle();
    $('.read-more').toggle();
    });
    })
    $(document).ready(function(){
    $('.read-less').click(function(){
    $('.full-txt').toggle();
    $('.read-more').toggle();
    });
    })
  </script>
  <div class="row">
    <div class="col col--5-of-6">
      <div class="space-fix row">
        <div class="img-wrap col col--1-of-4"><img src="img/lectures/steve.jpg" class="steve"/></div>
        <div class="txt-wrap col col--3-of-4">
          <div class="row">
            <h4>IMT1231 Subject title  -  Lecture title</h4>
          </div>
          <div class="row">
            <p>lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description</p>
          </div>
        </div>
      </div>
      <div class="row"><br/></div>
      <div class="row">
        <div class="img-wrap col col--1-of-4"><img src="img/lectures/steve.jpg" class="steve"/></div>
        <div class="txt-wrap col col--3-of-4"> 
          <div class="row">
            <h4>Lecture title</h4>
          </div>
          <div class="row">
            <p>lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description</p>
          </div>
        </div>
      </div>
      <div class="row"><br/></div>
      <div class="row">
        <div class="img-wrap col col--1-of-4"><img src="img/lectures/steve.jpg" class="steve"/></div>
        <div class="txt-wrap col col--3-of-4"> 
          <div class="row">
            <h4>Lecture title</h4>
          </div>
          <div class="row">
            <p>lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description</p>
          </div>
        </div>
      </div>
      <div class="row"><br/></div>
      <div class="row">
        <div class="img-wrap col col--1-of-4"><img src="img/lectures/steve.jpg" class="steve"/></div>
        <div class="txt-wrap col col--3-of-4"> 
          <div class="row">
            <h4>Lecture title</h4>
          </div>
          <div class="row">
            <p>lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col col--1-of-6 profile-wrapper">
      <div class="row"><img src="img/lectures/avatar.jpg" class="avatar"/></div>
      <div class="row">
        <div class="profile-list">
          <p>Aslak Ihle</p>
          <p>Studnr: 470587</p>
        </div>
      </div>
      <div class="row">
        <h3 class="profile-btn">Your profile</h3>
      </div>
      <div class="row">
        <div class="notification-wrap">  
          <h4>Notifications </h4>
          <p class="notification-txt part-txt">
             
            Teacher Tom has a uploaded a new lecture in<span class="full-txt"> the subject IMT2002 Digital picturereproduction and color management. <a class="read-less"> <span class="read-less-fix">Hide</span></a></span><a class="read-more">... <span class="read-more-fix">Show more</span></a>
          </p><a href="" class="older-notifications">View older</a>
        </div>
      </div>
    </div>
  </div>
</div>