.content.lectures-student
   
   
   
   .row
      .col.col--4-of-5
         .row
            h2.lecture-time.top-space-fix Today
         .row
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4
               h3 IMT1231 Subject title  -  Lecture title
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
         .row
            h2.lecture-time 1 week old
         .row
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
               
               h3 Lecture title
                  
               
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description

         .row
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
               
               h3 Lecture title
               
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
         .row
            h2.lecture-time One month old
         .row
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
               
               h3 Lecture title
               
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description

         .row
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
               
               h3 Lecture title
                  
               
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description
        
         .row
            .img-wrap.col.col--1-of-4
               img.steve(src='img/lectures/steve.jpg')
            .txt-wrap.col.col--3-of-4 
               h3 Lecture title
               p lectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce descriptionlectuce description

      .col.col--1-of-5
         .row.hue
            .profile-wrapper
               img.avatar(src='img/lectures/student.jpg')
               
               .profile-list
                  h3 Aslak Ihle
                  h3 Studnr: 470587   
               
               a.profile-btn(href='') My profile
               
               .notification-wrap   
                  h3 Notifications 
                  p.notification-txt.part-txt 
                     | Teacher Tom has a uploaded a new lecture in
                     span.full-txt
                        |  the subject IMT2002 Digital imagereproduction and color management. 
                        a.read-less 
                           span.read-fix 
                              br
                              | Hide
                     a.read-more
                        |... 
                        span.read-fix 
                           br
                           | Show more
                        
                    
                  a.older-notifications(href='#main-student') View older Notifications

include ../includes/partialscript.jade
            
script.
      
   $(document).ready(function(){
      $('.read-more').click(function(){
         $('.full-txt').toggle();
         $('.read-more').toggle();
      });
   })
   
   $(document).ready(function(){
      $('.read-less').click(function(){
         $('.full-txt').toggle();
         $('.read-more').toggle();
      });
   })
                  
