.content.lectures-student
   .row
      .col.col--4-of-5.col--m-4-of-4.hue2
            .lecture-time.top-space-fix
               h2 Last 24 Hours
            
            .img-wrap.col.col--1-of-4
               img.lecture-img(src='img/slides/Lecture3-1.010.jpeg')
               .comment-wrap
                  img.comment-icon(src="../img/iconography/ic_comment_green_24px.svg")
                  .comment-txt
                     a(href='') Comments (2)
            .txt-wrap.col.col--3-of-4.col--m-2-of-2
               h3 IMT1292: Web Coding  -  3rd Introductury Lecture to HTML
               p.date-space-fix In this lecture we go through four main topics. Entities, lists, images and namegiving. If you have not seen the previous lectures on this, I would recommend you watching those before this one, since this one builds on what we learned from them.
               p 19.05.2016
               img.profile-img(src="../img/profile_images/teacher2.jpg")
               .author 
                  p
                     | Henriette Jacobsen
                     span (henriette.jacobsen@aurora.no) 
               
                             
            
            .lecture-time
               h2 Last week
            
            .img-wrap.col.col--1-of-4
               img.lecture-img(src='img/lecture_images/mobile_lecture1.png')
               .comment-wrap
                  img.comment-icon(src="../img/iconography/ic_comment_green_24px.svg")
                  .comment-txt
                     a(href='') Comments (2)
            .txt-wrap.col.col--3-of-4 
               h3 IMT2661: Mobile Media Design - Mobile Design
               p.date-space-fix In this lecture we go though alot of diffrent topics it is important to be aware of when designing for mobile. There is alot of diffrent topics, but it is important, so I would recommend taking notes.
               p 17.05.2016
               img.profile-img(src="../img/profile_images/clooney.jpg")
               .author.bottom-space-fix 
                  p
                     | Torgeir Hansen
                     span (torgeir.hansen@aurora.no) 
                    
            .img-wrap.col.col--1-of-4
               img.lecture-img(src='img/lecture_images/webproject_lecture1.png')
               .comment-wrap
                  img.comment-icon(src="../img/iconography/ic_comment_green_24px.svg")
                  .comment-txt
                     a(href='') Comments (3)
            .txt-wrap.col.col--3-of-4             
               h3 IMT1471: Web Project - Technical Design Specification Document
               p.date-space-fix In this lecture we go through the Technical Design Specification Document. I will give guidance to how you should write it, and which parts are most important for us as web developers.
               p 16.05.2016
               img.profile-img(src="../img/profile_images/female_teacher.jpg")
               .author 
                  p
                     | Frida Nygaard
                     span (frida.nygaard@aurora.no) 

            .lecture-time 
               h2 Last month
            
            .img-wrap.col.col--1-of-4
               img.lecture-img(src='img/lecture_images/webcoding_lecture2.png')
               .comment-wrap
                  img.comment-icon(src="../img/iconography/ic_comment_green_24px.svg")
                  .comment-txt
                     a(href='') Comments (2)
            .txt-wrap.col.col--3-of-4 
               h3 IMT1292: Web Coding - 1st Introductory Lecture to CSS
               p.date-space-fix In this lecture we go through the first basics of CSS and how it connects to the HTML we've already learned. If you havent seen the previous HTML lectures, or know about HTML from before, I would recommend going back and watching from the start of this subject.
               p 12.05.2016
               img.profile-img(src="../img/profile_images/teacher2.jpg")
               .author.bottom-space-fix 
                  p
                     | Henriette Jacobsen
                     span (henriette.jacobsen@aurora.no)
               
            .img-wrap.col.col--1-of-4
               img.lecture-img(src='img/lecture_images/mobile_lecture2.png')
               .comment-wrap
                  img.comment-icon(src="../img/iconography/ic_comment_green_24px.svg")
                  .comment-txt
                     a(href='') Comments (3)
            .txt-wrap.col.col--3-of-4 
               h3 IMT2661: Mobile Media Design - Mobile and Games
               p.date-space-fix In this lecture we go through some basics of what play and gaming is. Afterwards we talk about the mobile gaming industry and the future of mobile gaming.
               p 10.05.2016
               img.profile-img(src="../img/profile_images/clooney.jpg")
               .author.bottom-space-fix 
                  p
                     | Torgeir Hansen
                     span (torgeir.hansen@aurora.no) 
         
            .img-wrap.col.col--1-of-4
               img.lecture-img(src='img/lecture_images/webproject_lecture2.png')
               .comment-wrap
                  img.comment-icon(src="../img/iconography/ic_comment_green_24px.svg")
                  .comment-txt
                     a(href='') Comments (6)
            .txt-wrap.col.col--3-of-4 
               h3 IMT1471: Web Project - Project Management and Planning
               p.date-space-fix In this lecture we go through some topics relevant to planning and managing a project. We talk about managing risks and people aswell as going through some methods you can use to manage and plan your project.
               p 9.05.2016
               img.profile-img(src="../img/profile_images/female_teacher.jpg")
               .author 
                  p
                     | Frida Nygaard
                     span (frida.nygaard@aurora.no)
      .hue.col.col--1-of-5
         include ../includes/profile.jade
         
include ../includes/partialscript.jade
