#main-teacher   
   .row
      .col.col--4-of-5
         h2.col.col--5-of-5 Notification
         .col.col--1-of-5
         p.col.col--3-of-5
      .col.col--1-of-5 
         .add-lec-btn
            
            
