#main-admin.content
	
	// MODAL STUFF 
	// Lectures modal 
	#lecturesModal.modal 
		.modal-content 
			span.close X
			h2 Manage Lectures 
			ul
				li Lecture 1 
				li Lecture 2 
				li Lecture 3
				
	// Teachers modal 
	#teachersModal.modal 
		.modal-content 
			span.close X
			h2 Manage Teachers 
			ul
				li Teacher 1
				li Teacher 2 
				li Teacher 3
	
	// Students modal 
	#studentsModal.modal 
		.modal-content 
			span.close X
			h2 Manage Students 
			ul
				li Student 1
				li Student 2 
				li Student 3
	
	.row 
		// Left section (settings/students/teachers)
		.monitor.col.col--1-of-8
			.lectures
				// When clicked, lectures modal triggers 
				button(id="btnLectures") Lectures  
			.teachers
				// When clicked, teachers modal triggers 
				button(id="btnTeachers") Teachers
			.students
				// When clicked, students modal triggers 
				button(id="btnStudents") Students 

		// notifications content 
		.notification-content.col.col--4-of-8 
			// h2 Reported comments 
			
			// Notification 1
			.row
			
				.notification.first.col.col--2-of-2
					h3 Reported comment 1 
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
						| sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
					p.author Bad Boy 1 
					
			// Notification 2
			.row
			
				.notification.col.col--2-of-2
					h3 Reported comment 2
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
						| sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
					p.author Bad Boy 2
		
			// Notification 2
			.row
			
				.notification.col.col--2-of-2
					h3 Reported comment 3
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
						| sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
					p.author Bad Boy 3
		
		// Approve teachers 
		.approve-teachers.col.col--2-of-8
			h2 Pending requests
			// What action to use? 
			form#approveTeachersForm(name='approveTeachersForm', action='#', method='get')
				ul 
					li
						label
							input(type="checkbox")
							a(href="#") Ali Sharif
					li
						label
							input(type="checkbox")
							a(href="#") Randi Rikberg
					li
						label
							input(type="checkbox")
							a(href="#") Tina Tvist 
					li
						label
							input(type="checkbox")
							a(href="#") Ole Olsen		
					li
						label
							input(type="checkbox")
							a(href="#") Nina Nilsen
				input(type="submit", value="Approve")
		
		// Profile content 
		.profile-content.col.col--1-of-8
			h2 Profile 
			img(src="../img/lectures/avatar.jpg" alt="Profile image")
								
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
			
include ../includes/partialscript.jade

	script(src='js/main-admin.js')
