#main-student
	
	.row 
		// notifications content 
		.notification-content.col.col--5-of-6 
		
			// Notification 1
			.row
				// Image column
				.notification.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 IMT2002 Color Management: Last lecture May 10th
					p The last lecture will take place on Tuesday, May 10th in K102. 
						| We will go through a short summary of the course curriculum
						| and I will answer any questions you might have before the exam.
			
			// Notification 2
			.row
				// Image column
				.notification.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 IMT1471 Web Project: Lecture moved to May 12th. 
					p Due to a scheduling conflict, the lecture planned for May 10th 
						| have been moved to Thursday, May 12th. Room A254 will be used.
			
			// Notification 3
			.row 
				.notification.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 IMT2661 Mobile Media: Final Project due May 31th.
					p The absolute final date for submission of your projects is Tuesday, 
						| May 31th. Remember to ask me any potential questions well in time 
						| before the deadline. 
					
		// Profile content 
		.profile-content.col.col--1-of-6 
			h2 Profile 
			img(src="../img/lectures/avatar.jpg" alt="Profile image")
								
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
			
