#main-admin.content
	// ------------------ MODAL CONTENT ----------------------
	// Subjects modal 
	#subjectsModal.modal 
		.modal-content 
			span.close X
			h2 Manage Subjects
			.subject#webProject
				.icon-alignment 
					include ../includes/svg-icons/edit-icon.jade
					include ../includes/svg-icons/delete-forever-icon.jade
					
				h3 IMT1471: Web Project 1
				.lecture-list
					.lecture.first
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") Project Management and Planning
						
					.lecture
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") Technical Design Specification Document
						
					.lecture
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") Slicing web pages
						
					.lecture
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") Something here
						
			.subject#webCoding
				.icon-alignment 
					include ../includes/svg-icons/edit-icon.jade
					include ../includes/svg-icons/delete-forever-icon.jade
					
				h3 IMT1292: Web Coding
				.lecture-list 
					.lecture.first
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") 1st Introductury Lecture to HTML
						
					.lecture
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") 2nd Introductury Lecture to HTML
						
					.lecture
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") 1st Introductory Lecture to CSS
						
					.lecture
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") 3rd Introductury Lecture to HTML
						
			.subject#mobileMedia
				.icon-alignment 
					include ../includes/svg-icons/edit-icon.jade
					include ../includes/svg-icons/delete-forever-icon.jade
					
				h3 IMT1292: Mobile Media Design 
				.lecture-list 
					.lecture.first
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") Mobile and Games
						
					.lecture
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") Mobile Design
						
					.lecture
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") Something here 
						
					.lecture
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") Something here
			
			.subject#colourManagement
				.icon-alignment 
					include ../includes/svg-icons/edit-icon.jade
					include ../includes/svg-icons/delete-forever-icon.jade
					
				h3 IMT2002: Digital Image Reproduction and Colour Management 
				.lecture-list 
					.lecture.first
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") Introduction to RAW format
						
					.lecture
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") Digital Image Capture Technology
						
					.lecture
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") Display Technology and Display Quality
						
					.lecture
						include ../includes/svg-icons/delete-forever-icon.jade
						a(href="#") Digital Printer Technology
			
			.add-lecture
				include ../includes/svg-icons/add-icon.jade
				h3 Add a new subject category
						
	// Teachers modal 
	#teachersModal.modal 
		.modal-content 
			span.close X
			h2 Manage teachers
			
			.alignment-grid
				ul
					li 
						span
						include ../includes/svg-icons/deactivate-icon.jade
						a(href="#notmy-profile-teacher") Frida Nygaard
					li
						include ../includes/svg-icons/deactivate-icon.jade
						a(href="#notmy-profile-teacher") Gunnar Olsen
					li
						include ../includes/svg-icons/deactivate-icon.jade
						a(href="#notmy-profile-teacher") Henriette Jacobsen
					li
						include ../includes/svg-icons/deactivate-icon.jade
						a(href="#notmy-profile-teacher") Jonas Meek
					li
						include ../includes/svg-icons/deactivate-icon.jade
						a(href="#notmy-profile-teacher") Lillian Johansen
					li
						include ../includes/svg-icons/deactivate-icon.jade
						a(href="#notmy-profile-teacher") Tobias Moe
					li
						include ../includes/svg-icons/deactivate-icon.jade
						a(href="#notmy-profile-teacher") Torgeir Hansen
					li
						include ../includes/svg-icons/deactivate-icon.jade
						a(href="#notmy-profile-teacher") Ove Nakken
					li
						include ../includes/svg-icons/deactivate-icon.jade
						a(href="#notmy-profile-teacher") Vegard Lillebakk
	
	// Students modal 
	#studentsModal.modal 
		.modal-content 
			span.close X
			h2 Manage Students
			
			.alignment-grid 
				.year-enrolled
					h3 2013
					ul
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Alisha Houston
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Amir Jonestown
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Birger Flemming
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Christine Fjellheim
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Ottar Aspen
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Trude Bergseth
					
				.year-enrolled
					h3 2014 
					ul
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Gertrud Knutsen
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Marit Laksevåg
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Merete Hamre
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Rune Bratland
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Shawn Smalls 
						li
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Silje Nordfjord
					
				.year-enrolled
					h3 2015 
					ul
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Amelie Skramstad
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Frank Kornelius
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Julie Otervik
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Karl Nergaard
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Lars Jevne			
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Petter Lilleøen
					
				.year-enrolled
					h3 2016 
					ul
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Camilla Svensen
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Karl Svenning 
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Kristine Nilsen
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Ola Kristiansen
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Rajesh Singh
						li 
							include ../includes/svg-icons/deactivate-icon.jade
							a(href="") Kjetil Guttorm
	//  END OF MODALS 
	
	.row 
		// ------------ START OF CONTENT ----------------------
		.col.col--4-of-5
			
			// ------------------- MANAGEMENT CONTENT -----------------------------
			.monitor.col.col--1-of-6
			
				.subjects
					// When clicked, lectures modal triggers 
					button#btnSubjects Subjects  
				.teachers
					// When clicked, teachers modal triggers 
					button#btnTeachers Teachers
				.students
					// When clicked, students modal triggers 
					button#btnStudents Students 

			// -------------------- NOTIFICATIONS CONTENT --------------------------
			.notification-content.col.col--3-of-6
			
				h3 Reported comments 
				
				.notification.first.col.col--2-of-2
					h4 IMT1292: Web Coding 
					p Fuck off dude. You don't know anything about this.
					p.date 11.05.2016 
					p.reported-student Written by: <a href="">Gustav Trulsen</a>
					.button-alignment   
						button.removeComment Remove comment
						button.allowComment Allow comment
					
				.notification.col.col--2-of-2
					h4 IMT2661: Mobile Media Design 
					p GTFO man, this is none of your business. 
					p.date 11.05.2016 
					p.reported-student Written by: <a href="">Erik Haug</a>
					.button-alignment
						button.removeComment Remove comment
						button.allowComment Allow comment
				
				.notification.col.col--2-of-2
					h4 IMT2661: Mobile Media Design 
					p Calm your tits woman!
					p.date 11.05.2016 
					p.reported-student Written by: <a href="">Kristine Nilsen</a>
					.button-alignment
						button.removeComment Remove comment
						button.allowComment Allow comment
			
			// ----------------- APPROVE TEACHERS ---------------------- 
			.approve-teachers.col.col--2-of-6
			
				h3 Pending requests
				// What action to use? 
				form#approveTeachersForm(name='approveTeachersForm', action='#', method='get')
					ul 
						li
							input(type="checkbox")
							a(href="#") Ali Sharif
						li
							input(type="checkbox")
							a(href="#") Randi Rikberg
						li
							input(type="checkbox")
							a(href="#") Tina Tvist 
						li
							input(type="checkbox")
							a(href="#") Ole Olsen		
						li
							input(type="checkbox")
							a(href="#") Nina Nilsen
							
					input(type="submit", value="Approve teacher(s)")
					
		// ---------------------- PROFILE CONTENT ---------------------------
		.col.col--1-of-5	 
			include ../includes/profile-sidebar-admin.jade
			
include ../includes/partialscript.jade

	script(src='js/main-admin.js')
