#main-student.content
	
	.row 
		// notifications content 
		.notification-content.col.col--5-of-6 
		
			// Notification 1
			.row
			
				.notification.first.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 IMT2002 Color Management: Last lecture May 10th
					p The last lecture will take place on Tuesday, May 10th in K102. 
						| We will go through a short summary of the course curriculum
						| and I will answer any questions you might have before the exam.
					p.author
						| Peter Nussbaum 
						span (peter.nussbaum@ntnu.no)
					
			// Notification 2
			.row
			
				.notification.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 IMT1471 Web Project: Lecture moved to May 12th. 
					p Due to a scheduling conflict, the lecture planned for May 10th 
						| have been moved to Thursday, May 12th. Room A254 will be used.
					p.author
						| Ali Shariq Imran 
						span (ali.imran@hig.no)
			
			// Notification 3
			.row 
			
				.notification.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 IMT2661 Mobile Media: Final Project due May 31th.
					p The absolute final date for submission of your projects is Tuesday, 
						| May 31th. Remember to ask me any potential questions well in time 
						| before the deadline. 
					p.author
						| Emil Bakke 
						span (emil.bakke@ntnu.no)
					
		// Profile content 
		.col.col--1-of-6
			include ../includes/profile.jade
		
					
include ../includes/partialscript.jade
			
