
<div id="main-teacher" class="content">
  <div class="row"> 
    <!-- notifications content -->
    <div class="notification-content col col--5-of-6"> 
      <!-- Notification 1-->
      <div class="row">
        <!-- Image column-->
        <div class="notification col col--2-of-2"><img src="../img/notification-img.jpg" alt="Notification image"/>
          <h3>Headline</h3>
          <p>text</p>
        </div>
      </div>
      <!-- Notification 2-->
      <div class="row">
        <!-- Image column-->
        <div class="notification col col--2-of-2"><img src="../img/notification-img.jpg" alt="Notification image"/>
          <h3>Headline</h3>
          <p>text</p>
        </div>
      </div>
      <!-- Notification 3-->
      <div class="row"> 
        <div class="notification col col--2-of-2"><img src="../img/notification-img.jpg" alt="Notification image"/>
          <h3>Headline</h3>
          <p>text</p>
        </div>
      </div>
    </div>
    <!-- Profile content -->
    <div class="profile-content col col--1-of-6"> 
      <h2>Profile </h2><img src="../img/lectures/avatar.jpg" alt="Profile image"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
    </div>
  </div>
</div>
<script>
  $(function(){
  	$('.content').addClass('animate');
  });
  		
</script>