#main-admin.content
	// MODAL STUFF 
	// Lectures modal 
	#subjectsModal.modal 
		.modal-content 
			span.close X
			h2 Manage Subjects
			.subject#webProject 
				// Should be able to add, modify and delete a subject category
				h3 IMT1471: Web Project 1
				//- img.headline-icon(src="../img/iconography/ic_keyboard_arrow_right_black_24px.svg")
				.lecture-list
					.lecture 
						a(href="#") Project Management and Planning
						//- button.delete Delete
						
					.lecture
						a(href="#") Technical Design Specification Document
						//- button.delete Delete 
						
					.lecture
						a(href="#") Slicing web pages
						//- button.delete Delete 
						
					.lecture
						a(href="#") Something here
						//- button.delete Delete 
						
			.subject#webCoding
				// Should be able to add, modify and delete a subject category
				h3 IMT1292: Web Coding
				//- img.headline-icon(src="../img/iconography/ic_keyboard_arrow_right_black_24px.svg")
				.lecture-list 
					.lecture 
						a(href="#") 1st Introductury Lecture to HTML
						//- button.delete Remove
						
					.lecture
						a(href="#") 2nd Introductury Lecture to HTML
						//- button.delete Remove 
						
					.lecture
						a(href="#") 1st Introductory Lecture to CSS
						//- button.delete Remove
						
					.lecture
						a(href="#") 3rd Introductury Lecture to HTML
						//- button.delete Remove 
						
			.subject#mobileMedia
				// Should be able to add, modify and delete a subject category
				h3 IMT1292: Mobile Media Design 
				//- img.headline-icon(src="../img/iconography/ic_keyboard_arrow_right_black_24px.svg")
				.lecture-list 
					.lecture 
						a(href="#") Mobile and Games
						//- button.delete Remove
						
					.lecture
						a(href="#") Mobile Design
						//- button.delete Remove 
						
					.lecture
						a(href="#") Something here 
						//- button.delete Remove 
						
					.lecture
						a(href="#") Something here
						//- button.delete Remove 
			
			.subject#colourManagement
				// Should be able to add, modify and delete a subject category
				h3 IMT2002: Digital Image Reproduction and Colour Management 
				//- img.headline-icon(src="../img/iconography/ic_keyboard_arrow_right_black_24px.svg")
				.lecture-list 
					.lecture 
						a(href="#") Introduction to RAW format
						//- button.delete Remove
						
					.lecture
						a(href="#") Digital Image Capture Technology
						//- button.delete Remove 
						
					.lecture
						a(href="#") Display Technology and Display Quality
						//- button.delete Remove 
						
					.lecture
						a(href="#") Digital Printer Technology
						//- button.delete Remove 	
						
	// Teachers modal 
	#teachersModal.modal 
		.modal-content 
			span.close X
			h2 Manage Teachers 
			hr 
			
			.alignment-grid
				ul
					li <a href="#">Frida Nygaard</a>
					li <a href="#">Frode Grefsen</a>
					li <a href="#">Gunnar Olsen</a>					
					li <a href="#">Henriette Jacobsen</a>
					li <a href="#">Jonas Meek</a>
					li <a href="#">Lillian Johansen</a>
					li <a href="#">Tobias Moe</a>
					li <a href="#">Torgeir Hansen</a>
					li <a href="#">Ove Nakken</a>
					li <a href="#">Vegard Lillebakk</a>
	
	// Students modal 
	#studentsModal.modal 
		.modal-content 
			span.close X
			h2 Manage Students
			hr
			
			// ----------------------------------------
			// SHOULD BE ABLE TO DE-ACTIVATE AN ACCOUNT
			// --------------------------------------- 
			.alignment-grid 
				.year-enrolled
					h3 2013
					ul
						li <a href="#">Camilla Svensen</a>
						li <a href="#">Karl Svenning</a>
						li <a href="#">Kristine Nilsen</a>
						li <a href="#">Ola Kristiansen</a>
						li <a href="#">Rajesh Singh</a>
						li <a href="#">Student name</a>
						li <a href="#">Student name</a>
						li <a href="#">Student name</a>
					
				.year-enrolled
					h3 2014 
					ul
						li <a href="#">Camilla Svensen</a>
						li <a href="#">Karl Svenning</a>
						li <a href="#">Kristine Nilsen</a>
						li <a href="#">Ola Kristiansen</a>
						li <a href="#">Rajesh Singh</a>
						li <a href="#">Student name</a>
						li <a href="#">Student name</a>
						li <a href="#">Student name</a>
					
				.year-enrolled
					h3 2015 
					ul
						li <a href="#">Camilla Svensen</a>
						li <a href="#">Karl Svenning</a>
						li <a href="#">Kristine Nilsen</a>
						li <a href="#">Ola Kristiansen</a>
						li <a href="#">Rajesh Singh</a>
						li <a href="#">Student name</a>
						li <a href="#">Student name</a>
						li <a href="#">Student name</a>
					
				.year-enrolled
					h3 2016 
					ul
						li <a href="#">Camilla Svensen</a>
						li <a href="#">Karl Svenning</a>
						li <a href="#">Kristine Nilsen</a>
						li <a href="#">Ola Kristiansen</a>
						li <a href="#">Rajesh Singh</a>
						li <a href="#">Student name</a>
						li <a href="#">Student name</a>
						li <a href="#">Student name</a>
					
				
	.row 
		// Content (not profile)
		.col.col--4-of-5
	
			.row 
				// Left section (settings/students/teachers)
				.monitor.col.col--1-of-5
					.lectures
						// When clicked, lectures modal triggers 
						button#btnSubjects Subjects  
					.teachers
						// When clicked, teachers modal triggers 
						button#btnTeachers Teachers
					.students
						// When clicked, students modal triggers 
						button#btnStudents Students 

				// notifications content 
				.notification-content.col.col--3-of-5 
					// h2 Reported comments 
					
					// Notification 1
					.row
					
						.notification.first.col.col--2-of-2
							h3 IMT1292: Web Coding 
							p Fuck off dude. You don't know anything about this.
							p.date 11.05.2016 
							p.reported-student Written by: Gustav Trulsen
							button.removeComment Remove 
							button.allowComment Allow 
							
						.notification.col.col--2-of-2
							h3 IMT2661: Mobile Media Design 
							p GTFO man, this is none of your business. 
							p.date 11.05.2016 
							p.reported-student Written by: Erik Haug
							button.removeComment Remove 
							button.allowComment Allow 
						
						.notification.col.col--2-of-2
							h3 IMT2661: Mobile Media Design 
							p Calm your tits woman!
							p.date 11.05.2016 
							p.reported-student Written by: Erik Haug
							button.removeComment Remove 
							button.allowComment Allow 
				
				// Approve teachers 
				.approve-teachers.col.col--1-of-5
					h2 Pending requests
					// What action to use? 
					form#approveTeachersForm(name='approveTeachersForm', action='#', method='get')
						ul 
							li
								label
									input(type="checkbox")
									a(href="#") Ali Sharif
							li
								label
									input(type="checkbox")
									a(href="#") Randi Rikberg
							li
								label
									input(type="checkbox")
									a(href="#") Tina Tvist 
							li
								label
									input(type="checkbox")
									a(href="#") Ole Olsen		
							li
								label
									input(type="checkbox")
									a(href="#") Nina Nilsen
						input(type="submit", value="Approve")
		
		// Profile content
		.col.col--1-of-5			 
			include ../includes/profile.jade
			
include ../includes/partialscript.jade

	script(src='js/main-admin.js')
