doctype html

html(lang="en")
	head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	title Main Page - Student
	link(rel="stylesheet", href="../css/base.css")
		
	body#main-student
		
		.row
			
			.col.col--6-of-8
				
				.notifications 
					h1 Notifications
					img(src="../img/notifcation-img.jpg" alt="Notification img")#test
				
				
