#main-teacher.content
	
	.row 
		// notifications content 
		.notification-content.col.col--5-of-6 
		
			// Notification 1
			.row
				// Image column
				.notification.first.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 Comment on lecture 
					h4 
						| IMT1471 Web Project 1 
						span (25.05.2016)
					p I did not quite understand how you can include parts of your 
						| website by writing separate html files and adding them 
						| together. Can you explain a bit more? 
					p.author Ola Nordmann 
			
			// Notification 2
			.row
				// Image column
				.notification.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 Comment on lecture 
					h4 
						| IMT1471 Web Project 1 
						span (25.04.2016)
					p Hi! It seems like the last few slides from the lecture is missing. 
						| Can you please add them? 
					p.author John Doe 
			
			// Notification 3
			.row 
				.notification.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 Lecture scheduling conflict 
					h4 
						| IMT1471 Web Project 1 
						span (09.05.2016)
					p Hello. Would it be possible for you to move your lecture in 
						| IMT1471 Web Project 1 from Monday 09.05.2016 (08:15-10) to
						| Tuesday 10.05.2016 (10:15-12)?
					p.author 
						| Jane Doe, Management 
						span (jane.doe@management.ntnu.no) 
					
		// Profile content 
		.profile-content.col.col--1-of-6 
			h2 Profile 
			img(src="../img/lectures/avatar.jpg" alt="Profile image")
								
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
			
script.
	$(function(){
		$('.content').addClass('animate');
	});
			
