#main-teacher.content
	
	.row 
		// notifications content 
		.notification-content.col.col--5-of-6 
		
			// Notification 1
			.row
				// Image column
				.notification.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 Headline
					p text
			
			// Notification 2
			.row
				// Image column
				.notification.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 Headline
					p text
			
			// Notification 3
			.row 
				.notification.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 Headline
					p text
					
		// Profile content 
		.profile-content.col.col--1-of-6 
			h2 Profile 
			img(src="../img/lectures/avatar.jpg" alt="Profile image")
								
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
			
script.
	$(function(){
		$('.content').addClass('animate');
	});
			
