#main-student
	
	.row 
		// notifications content 
		.notification-content.col.col--5-of-6 
		
			// Notification 1
			.row
				// Image column
				.notification.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 Notification 1
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
						| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
						| ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
						| velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
						| cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
			
			// Notification 2
			.row
				// Image column
				.notification.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 Notification 2
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
						| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
						| ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
						| velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
						| cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			
			// Notification 3
			.row 
				.notification.col.col--2-of-2
					img(src="../img/notification-img.jpg" alt="Notification image")
					h3 Notification 3
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
						| veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
						| ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
						| velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
						| cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					
		// Profile content 
		.profile-content.col.col--1-of-6 
			h2 Profile 
			img(src="../img/lectures/avatar.jpg" alt="Profile image")
								
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
				| ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
				| laboris nisi ut aliquip ex ea commodo consequat.
			
