.content.profile-student
   .row
      
      .col.col--4-of-8.col--push-2-of-8
         .row
            img.avatar(src='img/profile_images/clooney.jpg')   
         .row      
            .hue.col.col--2-of-4
               p.hue Name:
               p.hue Position:
               p.hue Email:
               p.hue Phone number:
            .hue2.col.col--2-of-4
               p Torgeir Hansen
               p Universitylector
               p torgeir.hansen@aurora.no
               p#phoneNumber 43918233
      
