.content.profile-student
   .row
      .col.col--2-of-2
         h2.notmy-profile-header Admin Profile
   .row
      
      .col.col--4-of-8.col--push-2-of-8
         .row
            img.avatar(src='img/profile_images/kristian_management.jpg')   
         .row      
            .p-col1.col.col--2-of-4
               p Name:
               p Position:
               p Email:
               p Phone number:
            .p-col2.col.col--2-of-4
               p Kristian Fjell
               p Admin
               p 
                  a(href='mailto:kistian.fjell@aurora.no') kistian.fjell@aurora.no
               p#phoneNumber 95827363   
      
