.content.profile-student
   .row
      
      .col.col--4-of-8.col--push-2-of-8
         .row
            img.avatar(src='img/profile_images/female_student2.png')   
         .row      
            .p-col1.col.col--2-of-4
               p Name:
               p Student number:
               p Email:
               p Phone number:
            .p-col2.col.col--2-of-4
               p Kristine Nilsen
               p 302947
               p
                  a(href='mailto:kristine.nilsen@aurora.no') kristine.nilsen@aurora.no
               p#phoneNumber 94783710   
      
