.content.profile-student
   .row
      
      .col.col--4-of-8.col--push-2-of-8
         .row
            img.avatar(src='img/profile_images/female_student2.png')   
         .row      
            .hue.col.col--2-of-4
               p.hue Name:
               p.hue Student number:
               p.hue Email:
               p.hue Phone number:
            .hue2.col.col--2-of-4
               p Kristine Nilsen
               p 302947
               p kristine.nilsen@aurora.no
               p#phoneNumber 94783710   
      
