.content.profile-student
   .row
      
      .col.col--4-of-8.col--push-2-of-8
         .row
            img.avatar(src='img/profile_images/clooney.jpg')   
         .row      
            .p-col1.col.col--2-of-4
               p Name:
               p Position:
               p Email:
               p Phone number:
            .p-col2.col.col--2-of-4
               p Torgeir Hansen
               p Universitylector
               p torgeir.hansen@aurora.no
               p#phoneNumber 43918233
      
