.content
   
   #playWrapper
      
      h2.center-text.pull-up.margin-bottom-regular Third introdutory course to HTML
      
      .row

         .col.col--6-of-12
            
            #playVideo
               video#lectureVideo(controls, preload)
                  source(src='../img/lecture.mp4', type='video/mp4', id='lectureVideo')
                  track(src='../img/transcript.vtt', kind='subtitles', srclang='en', label='English')
               
            .change-slides.mobile
               input#prev(type='button', name='prev', onclick='prev();')
               .slide-title
                  span slides
               input#next(type='button', name='next', onclick='next();')
         
         .col.col--6-of-12
            
            #playSlides
               .tabs
                  span#slide-button.active
                     include ../includes/svg-icons/slideshow-icon.jade 
                     | slides
                  span.line
                  span#wiki-button
                     include ../includes/svg-icons/info-icon.jade
                     | wiki
               #slide-wrap   
                  img#slides(src="../img/slides/Lecture3-1.001.jpeg", alt="Slides")
               #wiki.closed
                  h2 HTML entities
                  p Some characters are reserved in HTML. If you use the less than (<) or greater than (>) signs in your text, the browser might mix them with tags. Character entities are used to display reserved characters in HTML. A character entity looks like this:
                  h2 Lists
                  p An unordered list starts with the &lt;ul&gt; tag. Each list item starts with the &lt;li&gt; tag. The list items will be marked with bullets (small black circles), which can be further modified with css.
                  h3 Three types:
                  ul
                     li Unordered lists
                     li Ordered lists
                     li Definition lists
      
      .controllers
         .like-dislike
            .icons
               .like
                  include ../includes/svg-icons/like-icon.jade
               .dislike   
                  include ../includes/svg-icons/dislike-icon.jade
               .favorite
                  include ../includes/svg-icons/favorite-icon.jade
               .mail
                  a(href="mailto:someone@example.com?Subject=Check%20this%20lecture%20out!" target="_top")
                     include ../includes/svg-icons/mail-icon.jade
            
         .change-slides
            input#prev(type='button', name='prev', onclick='prev();')
            .slide-title
               span slides
            input#next(type='button', name='next', onclick='next();')
            
         .rating
            input#star5(type='radio', name='rating', value='5')
            label(for='star5', title='Rocks!') 5 stars
            input#star4(type='radio', name='rating', value='4')
            label(for='star4', title='Pretty good') 4 stars
            input#star3(type='radio', name='rating', value='3')
            label(for='star3', title='Meh') 3 stars
            input#star2(type='radio', name='rating', value='2')
            label(for='star2', title='Kinda bad') 2 stars
            input#star1(type='radio', name='rating', value='1')
            label(for='star1', title='Sucks big time') 1 star
      
      .row   
         
         .col.col--3-of-12.col--m-4-of-4
            .slide-timeline-wrap   
               h2 
                  | Jump to:
               ul.slide-timeline
                  li 
                     a(id="first", href="") HTML entities
                  li 
                     a(id="second", href="") What are HTML entities?
                  li 
                     a(id="third", href="") How they work
                  li 
                     a(id="fourth", href="") History
                  li 
                     a(id="fifth", href="") What is &amp;aring; ?
                  li 
                     a(id="sixth", href="") Lists
                  li 
                     a(id="seventh", href="") List types
                  li 
                     a(id="eighth", href="") Unordered lists
                  li 
                     a(id="ninth", href="") List syntax
                  
         .col.col--9-of-12
            .video-page-right
               .description
                  h2 Desctription
                  p In this lecture we go through four main topics. Entities, lists, images and namegiving. If you have not seen the previous lectures on this, I would recommend you watching those before this one, since this one builds on what we learned from them.
                  p.secondary Published: 19.05.2016
                  
                  .lecture-poster   
                     img.profile-img(src="../img/profile_images/teacher2.jpg")
                     a.author(href='#notmy-profile-student')
                        p
                           | Henriette Jacobsen
                           span (henriette.jacobsen@aurora.no)
               
               .comment-section
                  h2 Comments
                  
                  .comment.one
                     img.profile-img(src="../img/profile_images/female_student1.jpg")
                     a.author(href='#notmy-profile-student')
                        p
                           | Camilla Svensen - 
                           strong Student
                           span (camilla.svensen@aurora.no)
                     h4 Lists are wierd..
                     p Great lecture! But i'm curious, how can i style a list to prevent it from having those bullet points? Those pesky lists also take up so much space, why is that?
                     p.secondary 20.05.16 - 
                        strong Reply
                           include ../includes/svg-icons/reply-icon.jade
                     
                  .comment.two
                     img.profile-img(src="../img/profile_images/teacher2.jpg")
                     a.author(href='#notmy-profile-student')
                        p
                           | Henriette Jacobsen - 
                           strong Teacher
                           span (henriette.jacobsen@aurora.no)
                     h4 Great question!
                     p If you style the &LT;li&GT; element with 'list style type: none;', then the bullet points will dissapear. A list will often have some default margins/paddings, to reset these, style the &LT;ul&GT; element with 'margin: 0; padding 0;'.
                     p.secondary 20.05.16 - 
                        strong Reply
                           include ../includes/svg-icons/reply-icon.jade
                     
                  .comment.one
                     img.profile-img(src="../img/profile_images/male_student1.png")
                     a.author(href='#notmy-profile-student')
                        p
                           | Rajesh Singh - 
                           strong Student
                           span (rajesh.singh@aurora.no)
                     h4 Missing lectures slides
                     p It seems like the last few slides from the lecture is missing. Can you please add them?
                     p.secondary 19.05.16 - 
                        strong Reply
                           include ../includes/svg-icons/reply-icon.jade
                     
                  .comment.two
                     img.profile-img(src="../img/profile_images/teacher2.jpg")
                     a.author(href='#notmy-profile-student')
                        p
                           | Camilla Svensen - 
                           strong Teacher
                           span (henriette.jacobsen@aurora.no)
                     h4 Oops!
                     p I will get to it!
                     p.secondary 20.05.16 - 
                        strong Reply
                           include ../includes/svg-icons/reply-icon.jade
                  
                  a.hyperlink view more comments..
                  
                  br
                  h2 Write a comment
                  textarea.comment(name='comment' placeholder="Your message here" rows="5")
                  button.comment Publish comment
                        
               
script(src='../js/connect.js')
script(src="js/main.js")

script.
   $(function(){
   	setTimeout(slideHeight, 400);
   });
