#playWrapper
   .row
      .col.col--2-of-4
         .row
            .col.col--4-of-4
               #playVideo
                  video#lectureVideo(width='320', height='240', controls )
                     source(src='../img/lecture.mp4', type='video/mp4')
                     track(src='transcript.vtt', kind='subtitles', srclang='en', label='English')
            .col.col--4-of-4
               #playText
                  p
                     | Playback position: 
                     span#demo

      .col.col--2-of-4
         .row
            .col.col--4-of-4
               #playSlides
                  img(id="slides", src="../img/slides/slide1.png" alt="Slides")
            .col.col--4-of-4
               ul
                  li 
                     a(id="first", href="") First link
                  li 
                     a(id="second", href="") Second link
                  li 
                     a(id="third", href="") Third link
                  li 
                     a(id="fourth", href="") Fourth link
               
script(src='../js/connect.js')
