.content.profile-student
   .row
      
      .col.col--5-of-8
         .row
            img.avatar(src='img/profile_images/kristian_management.jpg')   
         .row      
            .p-col1.col.col--2-of-4.col--m-1-of-2.col--s-1-of-2
               p Name:
               p Position:
               p Email:
               p Phone number:
            .p-col2.col.col--2-of-4.col--m-1-of-2.col--s-1-of-2
               p Kristian Fjell
               p Administrator
               p 
                  span kristian.fjell@aurora.no
               p#phoneNumber 41927362 
      .col.col--3-of-8
         .profile-edit-wrap
            img(src="../img/iconography/ic_edit_white_24px.svg")
            h2 Edit profile 
            .btn#changePicBtn Change profile picture
            .change#changePic
               .upload
                  input(type="file" name="upload" id="file")
                  label(for="file") Upload File
               p.picCancel Cancel
               p.picCancel Save
            .btn#changePassBtn Change password
            .change#changePass
               input.space-fix(type='password' placeholder='Old password')
               input(type='password' placeholder='New Password')
               input(type='password' placeholder='New Password')
               p.passCancel Cancel
               p.passCancel Save
            .btn#changePhoneBtn Change phone number
            .change#changePhone
               input#phoneInput(placeholder='New Phone Number' value='')
               p#phoneCancel Cancel
               p#phoneSave Save
            hr
            a(href='../login.html').deleteBtn 
               img(src="../img/iconography/ic_delete_black_24px.svg")
               p Delete Account   
            
   script. //Change Phone number toggle script
      $(document).ready(function(){
         $('#changePhoneBtn').click(function(){
            $('#changePhone').toggle()
         });
         $('#phoneCancel').click(function(){
            $('#changePhone').toggle()
         });
         $('#phoneCancel').click(function(){
            $('#changePhoneBtn').toggle()
         });
         $('#phoneSave').click(function(){
            $('#changePhone').toggle()
         });
         $('#phoneSave').click(function(){
            $('#changePhoneBtn').toggle()
         });
         $('#changePhoneBtn').click(function(){
            $('#changePhoneBtn').toggle()
         });
         
         // Change Password toggle script
         $('#changePassBtn').click(function(){
            $('#changePass').toggle()
         });
         $('.passCancel').click(function(){
            $('#changePass').toggle()
         });
         $('.passCancel').click(function(){
            $('#changePassBtn').toggle()
         });
         $('#changePassBtn').click(function(){
            $('#changePassBtn').toggle()
         });
      
         // Change Profile Pic toggle script
         $('#changePicBtn').click(function(){
            $('#changePic').toggle()
         });
         $('.picCancel').click(function(){
            $('#changePic').toggle()
         });
         $('.picCancel').click(function(){
            $('#changePicBtn').toggle()
         });
         $('#changePicBtn').click(function(){
            $('#changePicBtn').toggle()
         });
      });
      //Change Phonenumber Script
      $('#phoneSave').click(function() {
         var a = $('#phoneInput').val()
         $('#phoneNumber').replaceWith(a)
      });   
      
