.content.profile-student
   .row
      .col.col--1-of-4
         img.avatar(src='img/lectures/student.jpg')
      .col.col--2-of-4
         .row
            .col.col--1-of-3
               h3 Name:
               h3 Student number:
               h3 Email
               h3 Phone number
               h3 
            .col.col--2-of-3
               h3 Aslak Ihle
               h3 470587
      .col.col--1-of-4
      
