.content.profile-student
   .row
      .col.col--1-of-3
         img.avatar(src='img/profile_images/main-student.jpg')
         
      .col.col--2-of-3
         .row
            .col.col--1-of-3
               h3.hue Name:
               h3.hue Student number:
               h3.hue Email:
               h3.hue Phone number:
            .col.col--2-of-3
               h3 Kim Pedersen
               h3 592734
               h3 kim.pedersen@aurora.no
               h3 95827363   
   .row   
      .col.col--1-of-3
        .btn
            a(href='') Change avatar
         
      .col.col--1-of-3
         .btn   
            a(href='') Change password
      
      .col.col--1-of-3
         .btn   
            a(href='') Change phone number
        
         
            
