#subjectWrapper.content
   .row
      .col.col--4-of-5.col--m-4-of-4
         .row
            .col.col--5-of-5
               .container-100
                  form.searchbox(name='searchbox', action='')
                     input(type='search', name='search', placeholder='Search for subject by name or eg. "computer"', onblur='changeText()')
                     button(type='submit', id="sButton", value='search', onclick='showResults()')
            
            #results.col.col--5-of-5
               #accordion
                  button.accordion.expand Computer Result 1
                  .panel
                     .row
<<<<<<< HEAD
                        .col.col--2-of-5.col-m--5-of-5.col-s--5-of-5
                           img.panelImage(src='http://placehold.it/200x200')
                        .col.col--2-of-5.col-m--5-of-5.col-s--5-of-5
                           p.panelTxt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .col.col--1-of-5.col-m--5-of-5.col-s--5-of-5
=======
                        .col.col--2-of-5.col--m-2-of-4.col--s-4-of-4.sMiddle.marginTop
                           img.panelImage(src='http://placehold.it/200x200')
                        .col.col--3-of-5.col--m-2-of-4.col--s-4-of-4.marginTop
                           p.panelTxt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Et dolore magna aliqua. Ut enim ad minim veniam, laboris.
                        .col.col-5-of-5.col--m-2-of-4.col--s-4-of-4.middleBtn.marginTop
>>>>>>> origin/master
                           button.subscribeBtn(type='button')
                              | Subscribe
                     
                  button.accordion.expand Computer Result 2
                  .panel
<<<<<<< HEAD
                     img.panelImage(src='http://placehold.it/200x200')
                     i.star
                     p.panelTxt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  button.accordion.expand Computer Result 3
                  .panel
                     img.panelImage(src='http://placehold.it/200x200')
                     i.starborder
                     p.panelTxt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
=======
                     .row
                        .col.col--2-of-5.col--m-2-of-4.col--s-4-of-4.sMiddle.marginTop
                           img.panelImage(src='http://placehold.it/200x200')
                        .col.col--3-of-5.col--m-2-of-4.col--s-4-of-4.marginTop
                           p.panelTxt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Et dolore magna aliqua. Ut enim ad minim veniam, laboris.
                        .col.col-5-of-5.col--m-2-of-4.col--s-4-of-4.middleBtn.marginTop
                           button.subscribeBtn(type='button')
                              | Subscribe
                  button.accordion.expand Computer Result 3
                  .panel
                     .row
                        .col.col--2-of-5.col--m-2-of-4.col--s-4-of-4.sMiddle.marginTop
                           img.panelImage(src='http://placehold.it/200x200')
                        .col.col--3-of-5.col--m-2-of-4.col--s-4-of-4.marginTop
                           p.panelTxt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Et dolore magna aliqua. Ut enim ad minim veniam, laboris.
                        .col.col-5-of-5.col--m-2-of-4.col--s-4-of-4.middleBtn.marginTop
                           button.subscribeBtn(type='button')
                              | Subscribe


      .col.col--1-of-5
         include ../includes/profile.jade

include ../includes/partialscript.jade

script.
   var acc = document.getElementsByClassName("accordion");
   var i;
   
   for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function(){
         this.classList.toggle("active");
         this.nextElementSibling.classList.toggle("show");
      }
   }

script. 
   function showResults() {
      document.getElementById('results').style.display = "block";
   }

script. 
   function changeText() {
   var original = document.forms.searchbox.search.value;
   var newTxt = original.replace(original, "computer");
   document.forms.searchbox.search.value = newTxt;
   }

// Star og starborder må bytte klasse hver for seg da de blir trykket på. 
