#subjectWrapper
   
   .row
      .col.col--1-of-5.col-m--5-of-5.col-s--5-of-5
         .container-100
            form.searchbox(action='')
               input(type='search', placeholder='Search')
               button(type='submit', value='search') 
            
      .col.col--3-of-5
         #pink
      
      .col.col--1-of-5
         .container-100
            img.avatar.col.col--6-of-8(src='img/lectures/avatar.jpg')
         
         .container-100
            ul
               li David Developer
               br
               li Studnr: 133769
         
         .container-100
            h3.profile-btn Your profile
            
         .container-100
            h3 Notifications
            p The next lesson in the subject PLACEHOLDER will be in room P133 at 30.02.17 
            a.more-notifications(href='') View more
