#subjectWrapper
   
   .row
<<<<<<< Updated upstream

=======
<<<<<<< Updated upstream
<<<<<<< HEAD
>>>>>>> Stashed changes
      .col.col--4-of-5
         .row
            .col.col--5-of-5
               .container-100
                  form.searchbox(action='')
                     input(type='search', placeholder='Search')
                     button(type='submit', value='search')
            
            .col.col--5-of-5
<<<<<<< HEAD
               #accordion
                  ul
                     li
                        a(href='#acc1') Example one
                        #acc1.accordion
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
                     li
                        a(href='#acc2') Example two
                        #acc2.accordion
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
                     li
                        a(href='#acc3') Example three
                        #acc3.accordion
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
<<<<<<< Updated upstream
=======
 
            
            .col.col--5-of-5
               #pink
=======
      .col.col--1-of-5
=======
      .col.col--1-of-5.col-m--5-of-5.col-s--5-of-5
>>>>>>> Stashed changes
         .container-100
            form.searchbox(action='')
               input(type='search', placeholder='Search')
               button(type='submit', value='search') 
            
      .col.col--3-of-5
<<<<<<< Updated upstream
>>>>>>> 92fccffe735e849d25a6d04c7a29653f46823cb3
=======
         #pink
>>>>>>> Stashed changes
>>>>>>> Stashed changes
      
=======
               
>>>>>>> origin/master
      .col.col--1-of-5.col-m--5-of-5.col-s--5-of-5
         .container-100
            img.avatar.col.col--6-of-8(src='img/lectures/avatar.jpg')
         
         .container-100
            ul
               li David Developer
               br
               li Studnr: 133769
         
         .container-100
            h3.profile-btn Your profile
            
         .container-100
            h3 Notifications
            p The next lesson in the subject PLACEHOLDER will be in room P133 at 30.02.17 
            a.more-notifications(href='') View more
