doctype html

html(lang="en", ng-app="myApp")
   head
   meta(charset="utf-8")
   meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
   title Project Aurora
   link(rel="stylesheet", href="css/base.css")
   
   body
      .page-wrap
            
         header
            include ./includes/logo.jade
            
            nav
               ul
                  li#page-1-link
                     a
                  li#page-2-link
                     a
                  li#page-3-link
                     a
                  li#page-4-link
                     a
            
         #container(ng-view) yolo
         
      footer
   
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
   script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js")
   script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js")
   script(src="js/app.js")
   script(src="js/main.js")
