doctype html

html(lang="en")
   head
   meta(charset="utf-8")
   title Project Aurora
   
   body
      .page-wrap
            
         header
            include ./includes/logo.jade
            
            nav
            
         #container(ng-view)
         
      footer
