doctype html

html(lang="en", ng-app="myApp")
   head
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
      script.
         // Prevent access without assigned sessionStorage.role 
         (function () {
         	if(sessionStorage.role == undefined){
         		sessionStorage.role = 'unregistered';
         		window.location.href = 'login.html';
         	}
         })();
         // Fade on load
         $(document).ready(function () { $('body').hide().fadeIn(1500).delay(6000)});
      include ./includes/favicons.jade
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
      title Aurora
      link(rel="stylesheet", href="css/base.css")
   
   body
      #role
      .background-opacity
      .page-wrap
            
         header#header
            .flex1
               include ./includes/nav-mobile.jade
            
            include ./includes/logo.jade
            
            .flex2
            
            nav.desktop
               ul.flex-between
                  li.page-1-link
                     .desktop-nav-icon 
                        include ./includes/svg-icons/home-icon.jade
                     a
                  li.page-3-link
                     .desktop-nav-icon
                        include ./includes/svg-icons/home-icon.jade
                     a
                  li.page-5-link
                     .desktop-nav-icon
                        include ./includes/svg-icons/home-icon.jade
                     a
                  li.page-6-link
                     .desktop-nav-icon
                        include ./includes/svg-icons/home-icon.jade
                     a
                  li.page-2-link
                     .desktop-nav-icon
                        include ./includes/svg-icons/lectures-icon.jade
                     a
                  li.page-4-link
                     .desktop-nav-icon
                        include ./includes/svg-icons/subjects-icon.jade
                     a
                  li.page-9-link
                     .desktop-nav-icon
                        include ./includes/svg-icons/slideshow-icon.jade
                     a
                  li.logout
                     .desktop-nav-icon
                        include ./includes/svg-icons/logout-icon.jade
                     a(href='login.html') log out
                  li.search
                     .search-press
                        .desktop-nav-icon.search-icon
                           include ./includes/svg-icons/search-icon.jade
                        .desktop-nav-icon.close-icon(style='display: none')
                           include ./includes/svg-icons/search-icon.jade
                     .blur-trigger
                        
         include ./includes/nav-indicator.jade
         .searchbox
            input(placeholder='Search for e.g. a partical subject')
         
         .container(ng-view)
         
      footer#footer
         include ./includes/footer.jade
         .copyright &copy; Aurora 2016
   
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
   script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js")
   script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js")
   script(src="js/app.js")
   script(src="js/main.js")
   
   
