doctype html

html(lang="en", ng-app="myApp")
   head
      include ./includes/favicons.jade
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
      title Project Aurora
      link(rel="stylesheet", href="css/base.css")
   
   body
      #role
      .background-opacity
      .page-wrap
            
         header#header
            .flex1
               include ./includes/nav-mobile.jade
            
            include ./includes/logo.jade
            
            .flex2
            
            nav.desktop
               ul
                  li.page-1-link
                     .desktop-nav-icon 
                        include ./includes/svg-icons/home-icon.jade
                     a
                  li.page-2-link
                     .desktop-nav-icon
                        include ./includes/svg-icons/lectures-icon.jade
                     a
                  li.page-3-link
                     .desktop-nav-icon
                        include ./includes/svg-icons/profile-icon.jade
                     a
                  li.page-4-link
                     .desktop-nav-icon
                        include ./includes/svg-icons/subjects-icon.jade
                     a
                  li.page-5-link
                     .desktop-nav-icon
                        include ./includes/svg-icons/profile-icon.jade
                     a
                  li.page-6-link
                     .desktop-nav-icon
                        include ./includes/svg-icons/profile-icon.jade
                     a
                  li.logout
                     .desktop-nav-icon
                        include ./includes/svg-icons/logout-icon.jade
                     a(href='logintest.html') log out
                  li.search
                     .desktop-nav-icon.search-icon
                        include ./includes/svg-icons/search-icon.jade
                     .desktop-nav-icon.close-icon(style='display: none')
                        include ./includes/svg-icons/close-icon.jade
                        
         include ./includes/nav-indicator.jade
         .searchbox
            input(placeholder='Search for e.g. a partical subject')
            
         .container(ng-view)
         
      footer#footer
         include ./includes/footer.jade
      .copyright &copy; Aurora 2016
   
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
   script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js")
   script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js")
   script(src="js/app.js")
   script(src="js/main.js")

script.
   $(function() {
      $('#logo .a2').attr('class', 'a2 animate');
      $('#logo .r2').attr('class', 'r2 animate');
      $('#logo .o').attr('class', 'o animate');
      $('#logo .r').attr('class', 'r animate');
      $('#logo .u').attr('class', 'u animate');
      $('#logo .a').attr('class', 'a animate-a');
   });
   
   
