.lectures-student
   a
      text-decoration: none
      color: white

   .img-wrap
      padding-left: 0px

   .lecture-img
      width: 100%
      margin-top: 5px

   .txt-wrap h3
      margin-top: 0
      margin-bottom: 10px
      clear: both

   .date-space-fix
      margin-bottom: 5px

   .top-space-fix
      margin-top: -20px

   .lecture-time h2
      margin-top: 20px
      padding-bottom: 5px
      width: 410px
      border-bottom: 2px solid $green1
      display: block
      clear: both

   .profile-img

      margin-top: 20px
      width: 40px
      height: 40px
      border-radius: 100%
      float: left

   .comment-icon

      margin-top: 5px
      width: 20px
      height: 20px
      float: left

   .comment-txt
      padding-top: 5px

      a
         margin-left: 5px
         margin-top: 10px
         color: $green1
         text-decoration: none

   .comment-wrap
      width: 100%
      float: left
      margin-top: 10px


   .comment-wrap-teacher
      margin-top: 10px
      margin-bottom: 25px
      width: 100%
      float: left
      //margin-left: 15px


   .bottom-space-fix
      margin-bottom: 30px

   .author
      border-top: 2px solid #455A64
      padding-top: 5px
      position: relative
      left: -40px
      display: block
      text-decoration: none

      width: 200px
      float: left
      p
         margin-left: 50px
         margin-top: 10px

         span
            font-size: 1.4rem
            color: $green1
            display: block

   .admin-delete
      display: inline-block
      background-color: $alert
      width: auto
      border-radius: 2px
      text-align: center
      padding: 0
      text-decoration: none
      margin-bottom: 20px
      color: white
      padding: 0 10px
      .delete-forever-icon
         display: inline-block
         margin-bottom: -3px

         padding: 0
      p
         display: inline-block
         padding: 0
         margin: 7px 0

   .teacher-edit
      display: inline-block
      background-color: $green1
      text-decoration: none
      color: $primaryColor
      width: auto
      border-radius: 2px
      text-align: center
      padding: 0
      margin-bottom: 30px
      margin-left: 20px
      padding: 0 10px
      .edit-icon
         display: inline-block
         fill: $primaryColor
         margin-bottom: -3px

         padding: 0

      p
         display: inline-block
         padding: 0
         margin: 7px 0

   // content + Profile CSS
   display: flex
   justify-content: space-between
   width: 100%

   .notprofile-content
      width: calc(100% - 200px)
      height: auto
      padding-right: 20px

   .profile-content
      width: 200px
      height: 500px

   @media (max-width: 900px)
      .notprofile-content
         width: 100vw !important
      .profile-content
         display: none
   //Content + profile End




   @media (max-width: 700px)
      .img-wrap
         display: none
      .txt-wrap
         padding-left: 0
      .lecture-time
         padding-top: 100px
         h2
            width: 200px
      .top-space-fix
         padding: 0
      .lecture-time h2


   @media (max-width: 480px)
      .author p span
         font-size: 1.1rem
   @media (max-width: 348)
      .teacher-edit
         margin-left: 10px
