.lectures-student

   .img-wrap
      padding-left: 0px

   .lecture-img
      width: 100%
      margin-top: 5px

   .txt-wrap h3
      margin-top: 0
      margin-bottom: 10px

   .txt-wrap p
      margin-top: 0

   .date-space-fix
      margin-bottom: 5px

   .top-space-fix
      margin-top: -20px

   .lecture-time h2
      margin-top: 20px
      padding-bottom: 5px
      width: 410px
      border-bottom: 2px solid $green1
      display: inline-block

   .profile-img

      margin-top: 20px
      width: 40px
      height: 40px
      border-radius: 100%
      float: left

   .bottom-space-fix
      margin-bottom: 30px

   .author
      border-top: 2px solid #455A64
      padding-top: 5px
      width: 200px

      p
         margin-left: 50px
         margin-top: 10px

         span
            font-size: 1.4rem
            color: $green1
            display: block

   @media (max-width: 1050px)
      .img-wrap
         display: none
      .txt-wrap
         padding-left: 0
      .lecture-time h2
         width: 200px

   @media (max-width: 480px)
      .author p span
         font-size: 1.1rem
