.lectures-student .steve {
  width: 100%;
}

.lectures-student .txt-wrap h4 {
  margin-top: 0;
  margin-left: 10px;
}

.lectures-student .txt-wrap p {
  margin-left: 10px;
}

.lectures-student ul {
  list-style: none;
}

.lectures-student .avatar {
  border-radius: 50%;
}

.lectures-student .profile-btn {
  text-align: center;
  width: 100%;
}

.lectures-student .notification-btn {
  width: 100%;
  text-align: center;
  background-color: blue;
}
