.lectures-student

   .img-wrap
      //background-color: blue

   .txt-wrap
      //background-color: red

   .steve
      width:100%

   .txt-wrap h4
      margin-top: 0
      margin-left: 10px

   .txt-wrap p
      margin-left: 10px

   //Profile

   ul
      list-style: none

   .avatar
      border-radius: 50%

   .profile-btn
      text-align: center
      width: 100%
      

   .notification-btn
      width: 100%
      text-align: center
      background-color: blue
