*
   box-sizing: border-box
   &:before, &:after
      box-sizing: border-box

#loginhtml
   background: #c1bdba
   font-family: 'Roboto', sans-serif
   display: flex
   width: 100vw
   height: 100vh
   align-items: center
   justify-content: center
   overflow: hidden
   margin-top: 100px

#loginvideo
   position: absolute
   top: 50%
   left: 50%
   transform: translate(-50%, -50%)
   min-width: 100%
   min-height: 100%
   width: auto
   height: auto
   z-index: -1

.loginlink
   text-decoration: none
   color: $mint
   -webkit-transition: .5s ease
   transition: .5s ease
   &:hover
      color: darken($mint, 10%)

.loginform
   background: rgba(19, 35, 47, 0.9)
   padding: 40px
   border-radius: 4px
   box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3)

#loginheader
   text-align: center
   color: #ffffff
   font-weight: 300
   margin: 30 0 30 0

.logininput
   font-size: 22px
   display: block
   width: 100%
   height: 100%
   padding: 5px 10px
   background: none
   background-image: none
   border: 1px solid $mint
   color: #ffffff
   border-radius: 0
   -webkit-transition: border-color .25s ease, box-shadow .25s ease
   transition: border-color .25s ease, box-shadow .25s ease
   -webkit-appearance: none
   &:focus
      outline: darken($mint, 10%)

.field-wrap
   position: relative
   margin-bottom: 40px

textarea
   border: 2px solid #a0b3b0
   resize: vertical

.loginbutton
   border: 0
   outline: none
   border-radius: 0
   padding: 15px 0
   font-size: 2rem
   font-weight: 600
   text-transform: uppercase
   letter-spacing: .1em
   display: block
   width: 100%
   background: $mint
   color: #ffffff
   -webkit-transition: all 0.5s ease
   transition: all 0.5s ease
   -webkit-appearance: none
   &:hover, &:focus
      background: darken($mint, 10%)




.forgot
   margin-top: -20px
   text-align: right
   margin-bottom: 20px
