#main-student
	.notification-content
		img
			border-radius: 2px

		h3
			margin-top: 0
			margin-bottom: 0.25em

		p
			margin-top: 0

			span
				color: grey

		.first
			margin-bottom: 0

	.notification
		margin-bottom: 10px
		// max-width: 85%

		img
			max-width: 15%
			float: left
			margin-right: 10px

		.author
			margin-top: -10px

	.profile-content

		img
			width: 100%
			border-radius: 50%

		h2
			margin-top: 0

@media only screen and (max-width:700px)
	#main-student

		.notification-content .first
			// margin-top: -40px

		.notification

			img
				display: none

		.profile-content

			img
				max-width: 50%
