#main-teacher
	// border: 2px solid black
	margin-top: 0.5em

	.notification-content
		img
			border-radius: 2px

		h3, h4
			margin-top: 0
			margin-bottom: 0.25em

		p
			margin-top: 0

			span
				color: grey

		.first
			margin-bottom: 0

	.notification
		margin-bottom: 10px
		// max-width: 85%

		img
			max-width: 15%
			float: left
			margin-right: 10px

		.author
			margin-top: -10px

	.profile-content

		img
			width: 100%
			border-radius: 50%

		h2
			margin-top: 0

	// @media only screen and (max-width:1150px)
	// 	.notification
	//
	// 		img
	// 			max-width: 55%
