// .background-opacity
// 	display: none
// 	position: fixed
// 	top: 0
// 	left: 0
// 	width: 100%
// 	height: 100%
// 	background-color: rgba(0,0,0, 0.8)
// 	// z-index: 3

#main-admin
	// ------------- MANAGEMENT STYLES -----------------
	.monitor
		padding: 0
		margin: 0

		.subjects, .students, .teachers

			button
				width: 100%
				border: none
				border-radius: 2px
				color: $primaryColor
				height: 35px
				background-color: $green1
				border: none

				&:hover
					background-color: $green2

	.students
		margin-top: 10px

	.teachers
		margin-top: 10px

	// ----------- MODAL STYLES ----------
	.modal
		display: none
		position: fixed
		z-index: 10
		left: 0
		top: -40px
		width: 100%
		// Enable scroll if needed
		// overflow: auto

	.modal-content
		position: relative
		background-color: $primaryColorLight
		// margin: 0 auto
		// width: 75%
		padding: 5px
		box-shadow: 0px 0px 0px
		border-radius: 2px

	// Close button
	.close
		position: absolute
		right: 0
		color: #aaaaaa
		margin-right: 5px
		font-size: 28px
		font-weight: bold

	.close:hover, .close:focus
		color: #000
		text-decoration: none
		cursor: pointer

	#subjectsModal
		.modal-content
			width: 100%

			h2
				margin-left: 30px
				margin-bottom: 10px
				margin-top: 15px
				// color: $green1
				padding-bottom: 2px
				border-bottom: 2px solid $green1
				max-width: 210px

			.subject
				margin-bottom: 10px

				h3
					margin-left: 30px
					margin: 30px
					margin-top: 5px
					margin-bottom: 5px
					// display: inline

					&:hover
						cursor: pointer

				.headline-icon
					margin-bottom: -5px

				.lecture-list
					display: none

					.lecture
						margin-left: 30px
						margin-right: 30px

						a
							color: white
							line-height: 2.5rem
							margin-left: 20px
							text-decoration: none

							&:hover
								text-decoration: underline

					.first
						margin-top: 5px


			#colourManagement
				margin-bottom: 15px

	#studentsModal, #teachersModal
		.modal-content
			margin-bottom: -10px

			h2
				margin-left: 30px
				margin-top: 10px

			h3
				margin-bottom: -10px
				margin-top: -15px

	#studentsModal
		.modal-content
			max-width: 80%
			margin: 0 auto

			h2
				border-bottom: 2px solid $green1
				margin-right: 30px

			.alignment-grid
				display: flex
				flex-wrap: wrap
				margin-left: 30px
				justify-content: space-between
				// margin-right: 30px

				.year-enrolled
					margin-right: 20px

					ul
						list-style: none
						margin-left: -40px

						li
							margin-bottom: 2px

							a
								text-decoration: none
								color: white

								&:hover
									color: $green1

	#teachersModal
		.modal-content
			max-width: 60%
			margin: 0 auto

			h2
				margin-left: 30px
				margin: 30px
				margin-bottom: 20px
				margin-top: 15px
				padding-bottom: 2px
				border-bottom: 2px solid #79d894
				max-width: 210px

		.alignment-grid
			margin-left: -10px
			margin-top: -15px

			ul
				list-style: none

				li
					margin-bottom: 2px

					a
						text-decoration: none
						color: white

						&:hover
							color: $green1

	// ------------- NOTIFICATION CONTENT STYLES ------------
	.notification-content
		h3
			margin-left: 20px
			margin-top: -5px
			border-bottom: 2px solid $green1
			max-width: 200px
			padding-bottom: 2px

		.first
			margin-top: -25px

		.notification

			p
				margin-top: -15px

			.reported-student a
				color: $primaryColorLight
				text-decoration: none

				&:hover
					color: white

			.button-alignment
				// border: 2px solid black
				margin-top: -10px
				margin-bottom: 10px

				.removeComment
					background-color: $alert
					border-radius: 6px
					font-size: 1rem
					border: none
					display: inline
					text-align: center
					color: white
					margin-top: -20px
					transition: all 0.3 ease
					transform: scale(1)

					&:hover
						transform: scale(1.2)
						margin-right: 10px

				.allowComment
					background-color: $green1
					border-radius: 6px
					font-size: 1rem
					border: none
					display: inline
					text-align: center
					color: $primaryColorDark
					transition: all 0.3 ease
					transform: scale(1)

					&:hover
						transform: scale(1.2)
						margin-left: 10px

			.reported-student
				color: $primaryColorLight

	// ---------- APPROVE TEACHERS STYLES  ----------------
	.approve-teachers

		h3
			margin-top: -5px
			border-bottom: 2px solid $green1
			max-width: 175px
			padding-bottom: 2px

		form
			// border: 1px solid $primaryColor
			margin-top: 25px

			ul
				list-style: none
				margin-left: -40px
				margin-top: -10px
				margin-bottom: -0

				li
					margin: 5px 0

				input[type="checkbox"]
					width: 1.2rem
					height: 1.2rem

				a
					margin-left: 10px
					text-decoration: none
					color: white

					&:hover
						color: $green1

			input[type="submit"]
				background-color: #79d894
				border-radius: 6px
				font-size: 1.2rem
				border: none
				color: $primaryColor
				transition: all 0.3 ease
				transform: scale(1)

				&:hover
					transform: scale(1.2)

@media (max-width: 700px)
	#main-admin
		#teachersModal
			.modal-content
				max-width: 80%

		.monitor
			display: flex
			flex-direction: row
			margin-bottom: 40px
			margin-left: 40px
			margin-right: 40px
			margin-top: 20px

			.teachers, .students, .subjects
				margin-top: 0
				// display: inline-block
				width: 33%

				button
					width: 95%

		.notification-content
			h4
				margin-top: 40px

		.approve-teachers
			margin-left: 20px
			margin-top: 40px
