#main-student
	border: 2px solid pink
	//
	// .notification
	// 	border: 1px solid red
	// 	max-width: 100%
	// 	min-height: 200px
	//
	// 	h3
	// 		margin-top: 0
	//
	// 	img
	// 		margin-right: 0.5em
	// 		width: 25%
	// 		height: 100%
	// 		float: left
	//
	// 	p
	// 		margin-top: 0
	//
	// 	.notification-text
	// 		border: 1px solid green
	//
	// .profile
	// 	// margin: 0 auto
	// 	border: 2px solid black
	//
	// 	img
	// 		display: block
	// 		width: 100%
	// 		border-radius: 50%
	//
	// 	p
	// 		margin: 0.5em
	.notification-content

		img
			width: 100%

	.profile-content

		img
			width: 100%
