#playVideo
   width: 100%
   height: 100%

   #lectureVideo
      width: 100%

#playSlides
   background-color: $primaryColor
   border-radius: 2px
   box-shadow: $regular

   .tabs
      font-variant: small-caps
      width: 100%
      height: 40px
      display: flex
      font-size: 2rem
      line-height: 35px
      justify-content: space-between
      align-items: center

      &.active
         border-bottom: 2px solid $primaryColorLight

      span
         //height: 30px
         width: 50%
         text-align: center

         svg
            height: 1.6rem
            margin-bottom: -0.3rem
            margin-right: 10px

      span.line
         width: 0
         height: 20px
         border-right: 2px solid white

      span.active
         color: $green1

         svg
            fill: $green1

   #slide-wrap
      margin: 0
      padding: 0
      text-align: center
      font-size: 0

      img#slides
         margin: 0
         padding: 0
         overflow: hidden
         border-radius: 3px

   #wiki
      width: 100%
      padding: 0px 20px
      overflow-y: scroll
      border-bottom: 2px solid $primaryColorLight

   #wiki.closed, #slides.closed
      display: none

// Change slides

.controllers
   height: 80px
   width: 100%
   margin-top: 20px
   background-color: $primaryColor
   box-shadow: $regular
   display: flex
   align-items: center
   justify-content: space-between

.change-slides
   width: auto
   //display: inline-block
   height: 50px

   &.mobile
      display: none

   .slide-title
      height: 100%
      display: block
      line-height: 50px
      text-align: center
      font-variant: small-caps

      span
         position: relative
         top: -16px
         font-size: 2rem

   input, .slide-title
      display: inline-block

      &#prev
         background-image: url(../img/iconography/nav-prev.svg)
         margin-right: 20px

      &#next
         background-image: url(../img/iconography/nav-next.svg)
         margin-left: 20px

   input
      background-size: 30px auto
      background-position: center center
      background-color: transparent
      border: none
      height: 100%
      background-repeat: no-repeat

      &:focus
         outline: none
// slide-timeline

//
   .slide-timeline-wrap
      border-right: 2px solid $primaryColorLight

ul.slide-timeline
   margin: 0
   padding: 0
   font-size: 1.6rem
   line-height: 1.6rem

   li
      list-style-type: none
      background-image: url(../img/iconography/small-arrow-2.svg)
      background-size: 0.8rem auto
      background-position: left top
      background-repeat: no-repeat
      margin: 25px 0px

      a
         color: white
         font-weight: 300
         background-color: $primaryColorDark
         text-decoration: none
         position: relative
         left: 0px
         transition: left 0.3s ease

         &:hover
            left: 15px

// LIKE || DISLIKE

.like-dislike
   width: 180px

   .icons
      margin-left: 18px

      .like, .dislike
         display: inline
         fill: $primaryColorLight
         margin-right: 5px

      .like:hover
         fill: $green1

      .dislike:hover
         fill: $alert

      .like.checked
         fill: $green1

      .dislike.checked
         fill: $alert

// !STAR-RATING

.rating
   transform: scale(0.8)
   width: 180px
   transform-origin: center center

.rating:not(:checked) > input
   position: absolute
   top: -9999px

.rating:not(:checked) > label
   float: right
   width: 1em
   padding: 0 .1em
   overflow: hidden
   white-space: nowrap
   cursor: pointer
   font-size: 200%
   line-height: 1.2
   color: $primaryColorLight

.rating:not(:checked) > label:before
   content: '★ '

.rating > input:checked ~ label
   color: $green1

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label
   color: $green1

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label
   color: $green1

.rating > label:active
   position: relative
   top: 2px
   left: 2px

// Lecture poster

.lecture-poster

.profile-img
   margin-top: 16px
   width: 40px
   height: 40px
   border-radius: 100%
   float: left

.author
   border-top: 2px solid $primaryColorLight
   padding-top: 5px
   width: 200px
   display: block
   text-decoration: none

   p
      margin-left: 50px
      margin-top: 10px
      color: white
      span
         font-size: 1.4rem
         color: $green1
         display: block

// comment section

textarea.comment
   background-color: transparent
   border: 2px solid $green1
   border-radius: 2px
   font-weight: 300
   width: 100%
   padding: 0.5rem
   font-size: 1.3rem
   margin-bottom: 15px
   resize: none
   transition: background-color 0.3s ease

   &::-webkit-input-placeholder
      color: $primaryColorLight

   &:-moz-placeholder
      /* Firefox 18- */
      color: $primaryColorLight

   &::-moz-placeholder
      /* Firefox 19+ */
      color: $primaryColorLight

   &:-ms-input-placeholder
      color: $primaryColorLight

   &:focus
      outline: none
      color: white
      background-color: $primaryColorLight

button.comment
   border-radius: 2px
   box-shadow: $regular
   width: 33%
   text-align: center
   font-weight: 300
   background-repeat: no-repeat
   border: none
   background-color: $primaryColor
   color: white
   padding: 1rem
   font-size: 1.3rem
   transition: background-color 0.3s ease

   &:hover
      background-color: $primaryColorLight
      outline: none

   &:active
      background-color: $primaryColorDark
      outline: none

.comment
   width: 100%
   height: auto

   .profile-img
      margin-top: 16px
      width: 40px
      height: 40px
      border-radius: 100%
      float: left

   .author
      border-top: none
      padding-top: 5px
      width: 100%
      display: block
      text-decoration: none

      p
         margin-left: 50px
         margin-top: 10px
         color: white
         span
            font-size: 1.4rem
            color: $green1
            display: block

.comment.two
   width: 100%
   padding-left: 40px
   height: auto

.video-page-right
   border-left: 2px solid $primaryColorLight
   padding-left: 40px
