.profile-student

   .notmy-profile-header
      width: 100%
      text-align: center
      margin-bottom: 40px

   .avatar
      border-radius: 50%
      width: 50%
      left: 27%
      margin-right: 13%
      position: relative
      margin-bottom: 30px

   .profile-edit-wrap
      background-color: $primaryColor
      padding: 20px
      border-radius: 2px
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25)
      min-width: 210px
      img
         color: white
         float: left
         margin-right: 5px
         margin-left: 10px
      h2
         margin-top: -3px
         margin-left: 30px

   .btn
      padding: 10px 0
      background-color: $green1
      color: $primaryColorDark
      width: 100%
      text-align: center
      margin-top: 20px
      border-radius: 2px
      cursor: pointer
      text-decoration: none
      &:hover
         background-color: $green2

   .deleteBtn
      padding: 10px 0
      background-color: $alert
      color: white
      width: 100%
      text-align: center
      border-radius: 2px
      cursor: pointer
      text-decoration: none
      display: block
      p
         margin: 0
         padding: 0
      img
         margin: -2px -15px 0 15px
         padding: 0
      &:hover
         background-color: $alert + 40
   hr
      margin: 20px 0
      background-color: $primaryColorDark

      height: 1px
      border: 0
   .change
      display: none
      padding: 5px
      background-color: $primaryColor
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25)
      margin-top: 20px


      input
         width: 100%
         background-color: $primaryColorDark
         //color: $green1
         border: 0
         border-radius: 2px
         padding: 5px
         border: 2px solid $green1

      input:focus
         outline-width: 0

      ::-webkit-input-placeholder
         color: $green1

      p
         width: 48%
         margin: 0
         padding: 0
         padding: 5px 10px 0 10px
         background-color: $primaryColor
         cursor: pointer
         display: inline-block
         text-align: center


   #changePass
      input
         margin-top: 5px
      .space-fix
         margin-top: 0

   #changePic
      input
         display: none
      label
         width: 100%
         text-align: center
         display: block
         background-color: $green1
         color: $primaryColor
         border-radius: 2px
         padding: 5px
         cursor: pointer
         &:hover
            background-color: $green2

   .p-col1 p
      text-align: right
      width: 100%
      font-size: 1.8rem
      font-weight: 600
   .p-col2 p
      width: 100%
      font-size: 1.8rem

      a
         text-decoration: none
         color: $green1
      span
         font-size: 2.2rem
   .deactivate-btn

      text-align: center
      color: white
      text-decoration: none
      width: 70%
      position: relative
      left: 15%
      background-color: $alert
      border-radius: 2px
      padding: 0
      &:hover
         background-color: $alert + 40
      display: flex
      justify-content: space-around
      align-items: center
      display: none
      p
         margin: 5px 0 5px -35px
      .deactivate-icon
         fill: white
         width: 20px
         margin: 5px 0 5px -10px

@media (max-width: 800px)
   .profile-student
      .p-col1
         p
            font-size: 1.9rem
      .p-col2
         p
            font-size: 1.9rem
            span
               font-size: 1.3rem
         a
            font-size: 1.3rem
@media (max-width: 700px)
   .profile-student
      .deactivate-btn
         width: 40%
         position: relative
         left: 30%
      .p-col2 p span
         font-size: 1.9rem
      .profile-edit-wrap
         margin-top: 50px  


@media (max-width: 480px)
   .profile-student
      .p-col1
         p
            font-size: 1.7rem
      .p-col2
         p
            font-size: 1.7rem
            span
               font-size: 1.4rem
         a
            font-size: 1.3rem

      .deactivate-btn
         width: 80%
         left: 10%
