//SUBJECT-GLOBAL
.error-wrap
   position: fixed !important
   top: 300px
   background-color: $alert
   margin: 0 auto
   z-index: 10
   width: 60%
   left: 20%
   padding-left: 0 10px
   display: none
   text-align: center
   border-radius: 2px
   box-shadow: $regular
   p
      color: white
      display: inline-block
      width: 85%
   .close-icon
      display: inline-block
      width: 10%
      position: relative
      top: 7px
      cursor: pointer

#subjectWrapper
   //ACCORDION V.2
   button.accordion
      padding: 10px
      color: #white
      cursor: pointer
      width: 100%
      border: none
      border-bottom: 2px solid $primaryColor
      text-align: left
      outline: none
      margin-top: 20px
      font-size: 2.2rem
      transition: all 0.4s ease

      &:hover, &.active
         background-color: $primaryColor
      &.active
         .expand-arrow
            transform: rotate(180deg)

   .expand-arrow
      float: right
      margin-top: 2px
      transition: all 0.4s ease
      transform: rotate(0deg)
      //background-color: red


   div.panel
      padding: 10px 18px
      display: none
      background-color: $primaryColor
      &.show
         display: block !important


   .panel p


   #accordion
      margin-top: -12px

   .expand
      background-repeat: no-repeat
      background-position: right
      background-color: transparent

   button:focus, input:focus
      outline: none !important

   .panelImage
      width: 100%
      max-width: 200px
      max-height: 200px
      margin-left: auto
      margin-right: auto
      display: block
      border-radius: 50%

   .teacherCol p
      text-align: center




   .p-space-fix
      margin-top: 0
   .teacherCol .p-space-fix
      margin-top: -15px

   .middleBtn
      width: 100%

   .marginTop
      margin-top: 20px


   //sub btn
   .sub-wrap
      display: flex
      justify-content: space-between
      align-items: center
      margin: 50px 0 20px 0
   hr
      background-color: $primaryColorLight
      height: 2px
      border: 0
      width: 35%
   .subBtn
      display: block
      background-color: $primaryColorDark
      width: 30%
      margin: 0 15px

      text-align: center
      padding: 0
      cursor: pointer
      border-radius: 2px
      box-shadow: $regular
      transition: all 0.3s ease
      .checkIcon
         padding: 0
         width: 20%
         margin-bottom: -6px
         margin-right: -12px
         display: inline-block
      p
         padding: 10px
         margin: 0
         width: 75%
         display: inline-block
      &:hover
         background-color: $primaryColorLight

   .subPressed
      display: block
      background-color: $green1
      width: 30%
      margin: 0 15px
      transition: all 0.3s ease
      display: none
      text-align: center
      padding: 0
      cursor: pointer
      border-radius: 2px
      box-shadow: $regular
      .checkIcon
         padding: 0
         width: 20%
         margin-bottom: -6px
         margin-right: -12px
         display: inline-block
         fill: $primaryColor
      p
         padding: 10px
         margin: 0
         width: 75%
         display: inline-block
         color: $primaryColor
      &:hover
         background-color: $green2


   //lecture list CSS
   .lec-link
      text-decoration: none
      color: white

   .latest-lecture
      border-bottom: 2px solid $green1
      width: 310px
      margin-bottom: -20px
      padding-left: 0
      margin-left: 20px

   .header-all
      display: none
      border-bottom: 2px solid $green1
      width: 310px
      margin-bottom: -20px
      padding-left: 0
      margin-left: 20px
      margin-top: 41px




   .lecture-img
      width: 100%
      margin-top: 40px

   .lecture-head
      margin-top: 35px
      margin-bottom: 10px

   .all-lectures
      width: 100%
      text-align: center
      color: $green1
      display: block
      text-decoration: none
   .hiddenLec
      display: none
   .codingNone
      display: none

   .date-space-fix
      margin-top: -15px

   .comment-icon
      margin-top: 5px
      width: 20px
      height: 20px
      float: left

   .comment-txt
      padding-top: 5px

      a
         margin-left: 5px
         margin-top: 10px
         color: $green1
         text-decoration: none

   .comment-wrap
      width: 100%
      float: left
      margin-top: 10px
   .font-weight
      font-weight: 600

   .comment-wrap-teacher
      margin-top: -15px
      margin-bottom: 25px
      width: 100%
      float: left

   .sidebar-teacher, .sidebar-admin, .sidebar-student
      display:none

   .admin-delete
      display: none
      background-color: $alert
      width: auto
      border-radius: 2px
      text-align: center
      padding: 0
      text-decoration: none
      margin-bottom: 20px
      color: white
      padding: 0 10px
      .delete-forever-icon
         display: inline-block
         margin-bottom: -3px
         padding: 0
      p
         display: inline-block
         padding: 0
         margin: 7px 0

      &:hover
         background-color: $alert + 40

   .delete-space-fix
      margin-left: 20px

   .admin-edit
      display: none
      background-color: $green1
      text-decoration: none
      color: $primaryColor
      width: auto
      border-radius: 2px
      text-align: center
      padding: 0
      margin-bottom: 30px
      margin-left: 20px
      padding: 0 10px
      width: 141px
      .edit-icon
         display: inline-block
         fill: $primaryColor
         margin-bottom: -3px

         padding: 0
      p
         display: inline-block
         padding: 0
         margin: 7px 0
      &:hover
         background-color: $green2



   .teacher-edit
      display: none
      background-color: $green1
      text-decoration: none
      color: $primaryColor
      width: auto
      border-radius: 2px
      text-align: center
      padding: 0
      margin-bottom: 30px
      margin-left: 20px
      padding: 0 10px
      .edit-icon
         display: inline-block
         fill: $primaryColor
         margin-bottom: -3px

         padding: 0
      p
         display: inline-block
         padding: 0
         margin: 7px 0
      &:hover
         background-color: $green2
   .admin-add-subject
      display: none




   .add-icon
      margin: 0
      padding: 0
      position: relative
      top: 4px
      right: 5px
   .add-subject
      input
         background-color: $primaryColorLight
         outline: none
         border: none
         border-radius: 2px
         width: 100%
         cursor: pointer
         border: 2px solid $green1
      textarea
         width: 100%
         background-color: $primaryColorLight
         outline: none
         border: none
         border-radius: 2px
         resize: none
         height: 200px
         font-size: 1.2rem
         cursor: pointer
         border: 2px solid $green1

   .add-subject-btn
      display: block
      border-radius: 2px
      background-color: $green1
      color: $primaryColor
      position: relative
      width: 50%
      left: 25%
      text-align: center
      padding: 1px 0
      margin: 10px 0
      &:hover
         background-color: $green2
      p
         padding: 10px 0
         margin: 0

   // content + Profile CSS
   display: flex
   justify-content: space-between
   width: 100%

   .notprofile-content
      width: calc(100% - 220px)
      height: auto


   .profile-content
      width: 220px
      height: auto
      padding-left: 20px

   @media (max-width: 800px)
      .notprofile-content
         width: 100vw !important
      .profile-content
         display: none
   //Content + profile End

@media (max-width: 1050px)
   #subjectWrapper
      .comment-wrap
         display: none

@media (max-width: 1000px)
   #subjectWrapper
      .subBtn, .subPressed
         width: 38%

      .latest-lecture, .header-all
         width: 250px
@media (max-width: 850px)
   .error-wrap
      .mobile-fix
         font-size: 1.2rem
      p span
         font-size: 1.5rem

@media (max-width: 700px)
   .error-wrap
      width: 80%
      left: 10%
      top: 200px
   #subjectWrapper
      .displayNoneTablet
         display: none
      .subBtn, .subPressed
         width: 40%
      .sub-wrap
         margin-bottom: 50px
      hr
         width: 30%
      .expand-arrow
         margin-top: 0
      .latest-lecture, .header-all
         width: 200px
@media (max-width: 550px)
   .error-wrap
      .mobile-fix
         font-size: 1.1rem
      p span
         font-size: 1.3rem
@media (max-width: 480px)
   .error-wrap
      width: 90%
      left: 5%
      top: 100px
      .mobile-fix
         font-size: 1rem
      p span
         font-size: 1.2rem
   #subjectWrapper
      button.accordion
         font-size: 1.3rem

      .subBtn, .subPressed
         width: 65%
      .teacher-edit
         margin-left: 0
         width: 141px
      .admin-edit
         width: 141px
      .admin-delete
         margin-right: 20px

      hr
         width: 20%
      .latest-lecture, .header-all
         margin-top: 10px
      .all-lectures
         margin-top: 15px
@media (max-width: 380px)
   #subjectWrapper
      .teacher-edit
         margin-left: 0
         width: 141px
      .admin-edit
         width: 141px
