.container-100
   width: 100%

#gradient
   width: 0
   height: 50px
   margin: 0 auto
   border-radius: 100%
   -webkit-box-shadow: 0 50px 200px 150px rgba(255, 255, 255, 0.93)
   -moz-box-shadow: 0 50px 200px 150px rgba(255, 255, 255, 0.93)
   box-shadow: 0 50px 200px 150px rgba(255, 255, 255, 0.93)
