//SUBJECT-GLOBAL
#subjectWrapper



   //ACCORDION V.2
   button.accordion
      padding: 10px
      color: #white
      cursor: pointer
      width: 100%
      border: none
      border-bottom: 2px solid $primaryColor
      text-align: left
      outline: none
      margin-top: 20px
      font-size: 2.2rem
      transition: all 0.4s ease

      &:hover, &.active
         background-color: $primaryColor
      &.active
         .expand-arrow
            transform: rotate(180deg)

   .expand-arrow
      float: right
      margin-top: 2px
      transition: all 0.4s ease
      transform: rotate(0deg)
      //background-color: red


   div.panel
      padding: 10px 18px
      display: none
      background-color: $primaryColor
      &.show
         display: block !important


   .panel p


   #accordion
      margin-top: -12px

   .expand
      background-repeat: no-repeat
      background-position: right
      background-color: transparent

   button:focus, input:focus
      outline: none !important

   .panelImage
      width: 100%
      max-width: 200px
      max-height: 200px
      margin-left: auto
      margin-right: auto
      display: block
      border-radius: 50%

   .teacherCol p
      text-align: center




   .p-space-fix
      margin-top: 0
   .teacherCol .p-space-fix
      margin-top: -15px

   .middleBtn
      width: 100%

   .marginTop
      margin-top: 20px


   //sub btn
   .sub-wrap
      display: flex
      justify-content: space-between
      align-items: center
      margin: 50px 0 20px 0
   hr
      background-color: $primaryColorLight
      height: 2px
      border: 0
      width: 35%
   .subBtn
      display: block
      background-color: $primaryColorDark
      width: 30%
      margin: 0 15px

      text-align: center
      padding: 0
      cursor: pointer
      border-radius: 2px
      box-shadow: $regular
      transition: all 0.3s ease
      .checkIcon
         padding: 0
         width: 20%
         margin-bottom: -6px
         margin-right: -12px
         display: inline-block
      p
         padding: 10px
         margin: 0
         width: 75%
         display: inline-block
      &:hover
         background-color: $primaryColorLight

   .subPressed
      display: block
      background-color: $green1
      width: 30%
      margin: 0 15px
      transition: all 0.3s ease
      display: none
      text-align: center
      padding: 0
      cursor: pointer
      border-radius: 2px
      box-shadow: $regular
      .checkIcon
         padding: 0
         width: 20%
         margin-bottom: -6px
         margin-right: -12px
         display: inline-block
         fill: $primaryColor
      p
         padding: 10px
         margin: 0
         width: 75%
         display: inline-block
         color: $primaryColor
      &:hover
         background-color: $green2


   //lecture list CSS
   .lec-link
      text-decoration: none
      color: white

   .latest-lecture
      border-bottom: 2px solid $green1
      width: 310px
      margin-bottom: -20px
      padding-left: 0
      margin-left: 20px

   .header-all
      display: none
      border-bottom: 2px solid $green1
      width: 310px
      margin-bottom: -20px
      padding-left: 0
      margin-left: 20px
      margin-top: 41px




   .lecture-img
      width: 100%
      margin-top: 40px

   .lecture-head
      margin-top: 35px
      margin-bottom: 10px

   .all-lectures
      width: 100%
      text-align: center
      color: $green1
      display: block
      text-decoration: none
   .hiddenLec
      display: none
   .codingNone
      display: none

   .date-space-fix
      margin-top: -15px

   .comment-icon
      margin-top: 5px
      width: 20px
      height: 20px
      float: left

   .comment-txt
      padding-top: 5px

      a
         margin-left: 5px
         margin-top: 10px
         color: $green1
         text-decoration: none

   .comment-wrap
      width: 100%
      float: left
      margin-top: 10px
   .font-weight
      font-weight: 600

   .comment-wrap-teacher
      margin-top: -15px
      margin-bottom: 25px
      width: 100%
      float: left

   .sidebar-teacher, .sidebar-admin, .sidebar-student
      display:none

   .admin-delete
      display: none
      background-color: $alert
      width: auto
      border-radius: 2px
      text-align: center
      padding: 0
      text-decoration: none
      margin-bottom: 20px
      color: white
      padding: 0 10px
      .delete-forever-icon
         display: inline-block
         margin-bottom: -3px
         padding: 0
      p
         display: inline-block
         padding: 0
         margin: 7px 0

      &:hover
         background-color: $alert + 40

   .delete-space-fix
      margin-left: 20px

   .admin-edit
      display: none
      background-color: $green1
      text-decoration: none
      color: $primaryColor
      width: auto
      border-radius: 2px
      text-align: center
      padding: 0
      margin-bottom: 30px
      margin-left: 20px
      padding: 0 10px
      .edit-icon
         display: inline-block
         fill: $primaryColor
         margin-bottom: -3px

         padding: 0
      p
         display: inline-block
         padding: 0
         margin: 7px 0


   .teacher-edit
      display: none
      background-color: $green1
      text-decoration: none
      color: $primaryColor
      width: auto
      border-radius: 2px
      text-align: center
      padding: 0
      margin-bottom: 30px
      margin-left: 20px
      padding: 0 10px
      .edit-icon
         display: inline-block
         fill: $primaryColor
         margin-bottom: -3px

         padding: 0
      p
         display: inline-block
         padding: 0
         margin: 7px 0
      &:hover
         background-color: $green2

   @media (max-width: 1000px)
      .subBtn, .subPressed
         width: 38%
      .comment-wrap
         display: none
      .latest-lecture, .header-all
         width: 250px

   @media (max-width: 700px)
      .displayNoneTablet
         display: none
      .subBtn, .subPressed
         width: 40%
      .sub-wrap
         margin-bottom: 50px
      hr
         width: 30%
      .expand-arrow
         margin-top: 0
      .latest-lecture, .header-all
         width: 200px
   @media (max-width: 480px)
      button.accordion
         font-size: 1.8rem
      .subBtn, .subPressed
         width: 65%

      hr
         width: 20%
      .latest-lecture, .header-all
         margin-top: 10px
      .all-lectures
         margin-top: 15px
