// Common elements

*
   box-sizing: border-box

html, body
   height: 100%

html
   font-size: 62.5%

body
   background-color: $primaryColorDark
   color: white

// !HEADER || H E A D E R

header
   background-color: $primaryColor
   width: 100%
   height: 200px
   display: flex
   flex-flow: column
   justify-content: space-between
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45)

   svg#logo
      //align-self: center
      height: 50px

   nav
      background-color: $primaryColorLight
      height: 50px
      display: flex
      justify-content: center

      a
         color: white
         text-decoration: none

      ul
         list-style-type: none
         display: flex
         justify-content: space-between
         align-items: center
         width: calc(100% - 100px)
         max-width: 1060px
         padding: 0px 50px
         margin: 0 auto
         border: 0

         li
            list-style: none
            display: inline

// !FOOTER || F O O T E R

.page-wrap
   min-height: 100%
   /* equal to footer height */
   margin-bottom: -200px

   &:after
      content: ""
      display: block

footer, .page-wrap:after
   height: 200px

footer
   background-color: teal

// !CONTAINER || C O N T A I N E R

#container
   width: calc(100% - 100px)
   max-width: 1060px
   padding: 50px 50px
   margin: 0 auto
   // working properties
   //border: 2px solid red

.content
   transform: translateY(-10px)
   opacity: 0
   min-height: inherit

.content
   animation: fade-in 1s 1s ease forwards

@keyframes fade-in
   33%
      opacity: 1

   100%
      transform: translateY(0px)
      opacity: 1
