// Common elements

html, body
   height: 100%

// !HEADER || H E A D E R

header
   background-color: pink
   width: 100%
   height: 100px

// !FOOTER || F O O T E R

.page-wrap
   min-height: 100%
   /* equal to footer height */
   margin-bottom: -200px

   &:after
      content: ""
      display: block

footer, .page-wrap:after
   height: 200px

footer
   background-color: teal
