.flex2
   display: none

nav.mobile
   display: none

@media (max-width: 700px)
   .container
      width: 100%
      padding: 50px 20px

   nav.desktop, .nav-desktop-indicator
      display: none

   nav.mobile
      display: block

   .flex2
      display: flex

   .searchbox
      width: calc(100% - 40px)
      margin-left: 20px
      margin-right: 20px
      height: 0px
      background-color: $green1
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30)
      position: absolute
      z-index: 1
      top: 0
      left: 0

      input
         width: 100%
         margin: 0 auto
         height: inherit
         padding: 0px 20px 0px 40px

   #playSlides
      margin-top: 10px

   .change-slides
      display: none

      &.mobile
         display: inline-block
         position: relative
         left: calc(50% - 60px)
         margin-top: 10px
         margin-left: auto
         margin-right: auto

   .slide-timeline-wrap
      border-right: none

   ul.slide-timeline
      margin: 0
      padding: 0
      line-height: 40px

      li
         list-style-type: none
         margin: 5px
         padding: 0px 10px
         box-shadow: $weak
         display: inline-block
         background-color: $primaryColor
         border-radius: 2px

         a
            color: white
            position: static
            background-color: $primaryColor
            text-decoration: none

   .video-page-right
      border-left: none
      padding-left: 0px

@media (max-width: 480px)
   .container
      width: 100%
      padding: 50px 10px

   footer, .page-wrap:after
      height: 410px

@media (max-width: 480px)

   .page-wrap
      min-height: 100%
      /* equal to footer height */
      margin-bottom: -590px

      &:after
         content: ""
         display: block

   footer, .page-wrap:after
      height: 590px

   footer
      .links-mobile
         display: block
      .container
         padding-left: 50px
         padding-right: 50px
      .links
         display: none

   .sMiddle
      width: 100% !important
