.flex2
   display: none

nav.mobile
   display: none

@media (max-width: 700px)
   .container
      width: 100%
      padding: 50px 20px

   nav.desktop, .nav-desktop-indicator
      display: none

   nav.mobile
      display: block

   .flex2
      display: flex

@media (max-width: 480px)
   .container
      width: 100%
      padding: 50px 10px

   footer, .page-wrap:after
      height: 410px

@media (max-width: 480px)

   .page-wrap
      min-height: 100%
      /* equal to footer height */
      margin-bottom: -590px

      &:after
         content: ""
         display: block

   footer, .page-wrap:after
      height: 590px

   footer
      .links-mobile
         display: block
      .container
         padding-left: 50px
         padding-right: 50px
      .links
         display: none

   .sMiddle
      width: 100% !important
