.container(style="border: 2px solid blue")
   .row
      .col.col--3-of-12
         h2 Contact
         .contact-form
            input.name(name='name' type='text' placeholder='Name')
            input.email(name='email' type='text' placeholder='Email')
            textarea.message(name='message' placeholder="Your message here" rows="7")
            button.send Send
      .col.col--3-of-12
         h2 Social
         ul
            li Facebook
            li Twitter
            li Youtube
            li hajkhdjkas
            
      .col.col--3-of-12
         h2 Info
         ul
            li FAQ
            li Feedback
            li Legal
            li dsakdjklas
         
