.container
   .row
      
      .col.col--s-2-of-4.links-mobile
         h3 Info
         ul
            li
               p.secondary About Us
            li
               p.secondary FAQ
            li
               p.secondary Feedback
      
      .col.col--s-2-of-4.links-mobile
         h3 Social
         ul
            li
               p.secondary Facebook
            li
               p.secondary Twitter
            li
               p.secondary Youtube
      
      .col.col--4-of-12.col--push-2-of-12.col--m-2-of-4
         h3 Contact
         .contact-form
            input.name(name='name' type='text' placeholder='Name')
            input.email(name='email' type='text' placeholder='Email')
            textarea.message(name='message' placeholder="Your message here" rows="7")
            button.send Send
      
      .col.col--4-of-12.col--m-2-of-4.links
         h3 Info
         ul
            li
               p.secondary About Us
            li
               p.secondary FAQ
            li
               p.secondary Feedback
         h3 Social
         ul
            li
               p.secondary Facebook
            li
               p.secondary Twitter
            li
               p.secondary Youtube
         
