.container
   
   .row
      
      .col.col--s-2-of-4.links-mobile
         h3 Info
         ul
            li
               p.secondary 
                  a(href='#about')
                     img(src='./img/iconography/info-footer-3.svg')
                     | About
                  
            li
               p.secondary
                  a(href='#faq')
                     img(src='./img/iconography/info-footer-2.svg')
                     | FAQ
            li
               p.secondary
                  a(href='#about')
                     img(src='./img/iconography/phone-footer.svg')
                     | Contact
      
      .col.col--s-2-of-4.links-mobile
         h3 Social
         ul
            li
               p.secondary
                  img(src='./img/iconography/facebook.svg')
                  | Facebook
            li
               p.secondary 
                  img(src='./img/iconography/twitter.svg')
                  | Twitter
            li
               p.secondary 
                  img(src='./img/iconography/youtube-icon.svg')
                  | Youtube
      
      .col.col--4-of-12.col--push-2-of-12.col--m-2-of-4
         h3 Feedback
         .contact-form
            input.name(name='name' type='text' placeholder='Name')
            input.email(name='email' type='text' placeholder='Email')
            textarea.message(name='message' placeholder="Your message here" rows="7")
            button.send Send
      
      .col.col--4-of-12.col--m-2-of-4.links
         h3 Info
         ul
            li
               p.secondary 
                  a(href='#about')
                     img(src='./img/iconography/info-footer-3.svg')
                     | About
                  
            li
               p.secondary
                  a(href='#faq')
                     img(src='./img/iconography/info-footer-2.svg')
                     | FAQ
            li
               p.secondary
                  a(href='#about')
                     img(src='./img/iconography/phone-footer.svg')
                     | Contact
               
         h3 Social
         ul
            li
               p.secondary
                  img(src='./img/iconography/facebook.svg')
                  | Facebook
            li
               p.secondary 
                  img(src='./img/iconography/twitter.svg')
                  | Twitter
            li
               p.secondary 
                  img(src='./img/iconography/youtube-icon.svg')
                  | Youtube
         
