.nav-desktop-indicator
   ul
      li.page-1-link.active
         .desktop-nav-icon
            include ../includes/svg-icons/home-icon.jade
         a
      li.page-2-link
         .desktop-nav-icon
            include ../includes/svg-icons/lectures-icon.jade
         a
      li.page-3-link
         .desktop-nav-icon
            include ../includes/svg-icons/profile-icon.jade
         a
      li.page-4-link
         .desktop-nav-icon
            include ../includes/svg-icons/subjects-icon.jade
         a
      li.page-5-link
         .desktop-nav-icon
            include ../includes/svg-icons/profile-icon.jade
         a
      li.page-6-link
         .desktop-nav-icon
            include ../includes/svg-icons/profile-icon.jade
         a
      li.logout
         .desktop-nav-icon
            include ../includes/svg-icons/logout-icon.jade
         a log out
      li.search
         .desktop-nav-icon
            include ../includes/svg-icons/search-icon.jade
