.content.profile
   .profile-wrapper
      img.avatar(src='img/lectures/student.jpg')
      
      .profile-list
         h3 Aslak Ihle
         h3 Studnr: 470587   
      
      a.profile-btn(href='') My profile
      
      .notification-wrap   
         h3 Notifications 
         p.notification-txt.part-txt 
            | Teacher Tom has a uploaded a new lecture in
            span.full-txt
               |  the subject IMT2002 Digital imagereproduction and color management. 
               a.read-less 
                  span.read-fix 
                     br
                     | Hide
            a.read-more
               |... 
               span.read-fix 
                  br
                  | Show more
         a.older-notifications(href='#main-student') 
            p.secondary View older Notifications
      
   script.
         
      $(document).ready(function(){
         $('.read-more').click(function(){
            $('.full-txt').toggle();
            $('.read-more').toggle();
         });
      })
   
      $(document).ready(function(){
         $('.read-less').click(function(){
            $('.full-txt').toggle();
            $('.read-more').toggle();
         });
      })
