.profile
   .profile-wrapper
      img.avatar(src='img/profile_images/main-student.jpg')
      .profile-list
         h3 Kim Pedersen
         h3 Studnr: 592734   
      a.profile-btn(href='#profile-student') 
         include ../includes/svg-icons/profile-icon.jade
         p My profile
      .notification-wrap   
         h3 Notifications 
         p.notification-txt.part-txt 
            | RE: Need a group member - Do you guys still
            span.full-txt
               |  need one more member for you group? I am looking for a group myself, so I would like to join.
               a.read-less 
                  span.read-fix 
                     br
                     | Hide
            a.read-more
               |... 
               span.read-fix 
                  br
                  | Show more
         a.older-notifications(href='#main-student') 
            p.secondary.white View older Notifications
   script. 
      //Show / Hide script
      $(document).ready(function(){
         $('.read-more').click(function(){
            $('.full-txt').toggle();
            $('.read-more').toggle();
         });
      })
      $(document).ready(function(){
         $('.read-less').click(function(){
            $('.full-txt').toggle();
            $('.read-more').toggle();
         });
      })
