.content.profile
   .profile-wrapper
      img.avatar(src='img/profile_images/kristian_management.jpg')
      
      .profile-list
         h3 Kristian Fjell
         h3 Administrator
      
      a.profile-btn(href='#profile-admin') 
         include ../includes/svg-icons/profile-icon.jade
         p My profile
      
      .notification-wrap   
         h3 Notifications 
         p.notification-txt.part-txt 
            | Reported comment - IMT1292: Web Coding - Fuck
            span.full-txt
               |  off dude. You don't know anything about this.
               a.read-less 
                  span.read-fix 
                     br
                     | Hide
            a.read-more
               |... 
               span.read-fix 
                  br
                  | Show more
         a.older-notifications(href='#main-teacher') 
            p.secondary View older Notifications
            
   script.
         
      $(document).ready(function(){
         $('.read-more').click(function(){
            $('.full-txt').toggle();
            $('.read-more').toggle();
         });
      })
   
      $(document).ready(function(){
         $('.read-less').click(function(){
            $('.full-txt').toggle();
            $('.read-more').toggle();
         });
      })
