.content.profile
   .profile-wrapper
      img.avatar(src='img/profile_images/teacher2.jpg')
      
      .profile-list
         h3 Henriette Jacobsen
         h3 Universitylector
      
      a.profile-btn(href='#profile-teacher') 
         include ../includes/svg-icons/profile-icon.jade
         p My profile
      
      .notification-wrap   
         h3 Notifications 
         p.notification-txt.part-txt 
            | IMT2002 Color Management: Last lecture May 10th. Due to a
            span.full-txt
               |  scheduling issue, your lecture for IMT1471 Web Project 1 has been moved from Monday 09.05.2016 (08:15-10) to Tuesday 10.05.2016 (10:15-12).
               a.read-less 
                  span.read-fix 
                     br
                     | Hide
            a.read-more
               |... 
               span.read-fix 
                  br
                  | Show more
         a.older-notifications(href='#main-teacher') 
            p.secondary View older Notifications
            
   script.
         
      $(document).ready(function(){
         $('.read-more').click(function(){
            $('.full-txt').toggle();
            $('.read-more').toggle();
         });
      })
   
      $(document).ready(function(){
         $('.read-less').click(function(){
            $('.full-txt').toggle();
            $('.read-more').toggle();
         });
      })
