.profile
   .profile-wrapper
      img.avatar(src='img/profile_images/main-student.jpg')
      .profile-list
         h3 Aslak Ihle
         h3 Studnr: 470587   
      a.profile-btn(href='#profile-student') My profile
      .notification-wrap   
         h3 Notifications 
         p.notification-txt.part-txt 
            | Teacher Tom has a uploaded a new lecture in
            span.full-txt
               |  the subject IMT2002 Digital imagereproduction and color management. 
               a.read-less 
                  span.read-fix 
                     br
                     | Hide
            a.read-more
               | ... 
               span.read-fix 
                  br
                  | Show more
         a.older-notifications(href='#main-student') 
            p.secondary View older Notifications
   script. 
      //Show / Hide script
      $(document).ready(function(){
         $('.read-more').click(function(){
            $('.full-txt').toggle();
            $('.read-more').toggle();
         });
      })
      $(document).ready(function(){
         $('.read-less').click(function(){
            $('.full-txt').toggle();
            $('.read-more').toggle();
         });
      })
